[2022-02-09 17:10] buniello opened #609 "Pushing 4,786 summary statistics files though validation - submission ID 6198ce0f81051b000178cee4"
I have re-submitted the submission form in depo-curation for user submission 6198ce0f81051b000178cee4.
The 4,786 summary statistics are being re-validated again. The whole re-validation may take days and it is not required again.
Could you please push them through validation @ala-ebi @sajo-ebi

https://www.ebi.ac.uk/gwas/depo-curation/submissions/6198ce0f81051b000178cee4

[2022-02-10 12:17] Santhi1901 opened #610 "Pushing submission ID: 61011726d0e96f0001ac5031 through validation (User submitted)"
The user submitted data edited for adding associations. Sumstat validation failed. 8 studies

https://www.ebi.ac.uk/gwas/depo-curation/submissions/61011726d0e96f0001ac5031

[2022-02-10 16:41] sajo-ebi commented on #568
@buniello have unpublished the studies please confirm

[2022-02-10 16:55] sajo-ebi commented on #579
@earlEBI have unpublished the studies kindly confirm

[2022-02-10 17:01] sajo-ebi commented on #559
I believe this is already sorted , please review & close

[2022-02-10 17:03] buniello commented on #568
Hi sajo, all good but these will now miss the DR I believe.

[2022-02-11 09:42] earlEBI opened #611 "PMID 32929287 needs pushing through sumstats re-validation"
Submission 5ef9a208ee10690001662119 with 731 studies was unpublished to add associations but now is failing sumstats re-validation.

Please push through validation so this can be republished before next data release.

[2022-02-11 09:54] eks-ebi opened #612 "LocusZoom plot does not display extremely small p-values correctly"

[2022-02-11 11:14] sajo-ebi commented on #611
@earlEBI have bypassed the sumstats validation, the submission should be available for curation

[2022-02-11 11:33] earlEBI commented on #611
@sajo-ebi brilliant, thank you!

[2022-02-11 11:50] earlEBI commented on #611
@sajo-ebi Hi Sajo, unfortunately, the GCSTs have changed during import.
The original list of GCSTs are given by the author in a supplementary table here:
[https://app.zenhub.com/files/2995118/6507116c-c36f-497f-b931-1a66ebeba7b9/download](https://app.zenhub.com/files/2995118/6507116c-c36f-497f-b931-1a66ebeba7b9/download)

After today's import: http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/publica

[2022-02-11 11:58] Santhi1901 commented on #610
@sajo-ebi Thanks

[2022-02-11 13:15] mcerezof opened #613 "missing mapped trait and EFO trait in tsv files for studies and associations"
Both files "gwas_assoc.tsv" and "gwas_studies.tsv" (you can download them from https://www.ebi.ac.uk/gwas/docs/file-downloads) contain empty cells in the columns "mapped_trait" and "mapped_trait_uri". There are more empty cells for gwas-catalog-v.1.0.3-studies for older studies.

[2022-02-11 14:17] sajo-ebi commented on #609
@buniello have bypassed sumstats validation , the submission is available in Curation

[2022-02-11 14:19] #568 closed

[2022-02-11 14:19] buniello commented on #609
thanks @sajo-ebi

[2022-02-11 17:28] sajo-ebi commented on #611
@earlEBI the GCST have been updated in Curation app, this issue is possibly due to multiple reset requests for the submission which created a new GCST on each submission & some of the old data was not cleaned up properly when reset was done

[2022-02-14 10:03] eks-ebi opened #614 "Check that updates to PMID 33040646 have been synced to deposition"
I added 11 studies (--> new total of 12 studies) to this publication in the curation interface.

Could you please check that the new studies have been synced to the deposition interface? All 12 studies should appear in the pre-filled template that will be generated when the author creates a sumstats-only submission.

[2022-02-14 11:09] earlEBI opened #615 "Associations imported as null value - PMID 32929287"
For PMID '32929287', original author submission, 731 studies published, then unpublished via the backend to add associations.
I reuploaded the submission template via the depocuration app with associations and received no metadata errors, only sumstats errors, as expected:

![Screenshot 2022-02-14 at 08.47.20.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/c13369b2-7c13-47b1-8e6

[2022-02-14 12:00] earlEBI commented on #611
Thanks Sajo

[2022-02-14 12:53] sajo-ebi commented on #614
HI @eks-ebi I can see 12 studies in the Deposition Side , so for a fresh sumstats submission the user should get all those in prefilled template

[2022-02-14 13:08] eks-ebi commented on #614
Great thanks @sajo-ebi !

[2022-02-14 16:07] sajo-ebi commented on #579
@earlEBI the studies have been published

[2022-02-14 16:26] earlEBI commented on #579
@sajo-ebi great thanks!

[2022-02-15 15:32] earlEBI opened #616 "Bulk upload traits for PMID 33563976"
Please bulk upload the following list of 718 traits to the Curation App:

[https://app.zenhub.com/files/2995118/9a460179-9677-40ad-8c5a-10b5d89e6908/download](https://app.zenhub.com/files/2995118/9a460179-9677-40ad-8c5a-10b5d89e6908/download)

[2022-02-15 16:25] jdhayhurst opened #617 "Allow curators to bypass validation for submissions"
Occasionally, users should be able to submit summary statistics that fail our validation criteria. This should be possible at the request of a curator.
Using a UI, curators should be able to 'bypass' the sumstats file validation or run the validation with fewer than 100k rows.

[2022-02-15 16:49] jdhayhurst commented on #594
file was released 13th Feb

[2022-02-15 17:05] jdhayhurst commented on #596
GCST009983 is complete. Waiting on GCST90000291

[2022-02-16 09:25] earlEBI opened #618 "Push user submission through sumstats validation due to <100k rows"
Please push this submission through sumstats validation:
'https://www.ebi.ac.uk/gwas/deposition/submission/6204924c2101880001d0aee3'

The number of rows in each sumstats file is only 10,000 due to sharing restrictions.

[2022-02-16 09:41] eks-ebi commented on #589
@jdhayhurst I've finally made these edits and revalidated the edited files. I have them in my "homes". What is the best way to replace the old files without messing up the harmonisation etc.?

[2022-02-16 09:58] jdhayhurst commented on #618
revalidating callback ID `orkvojoZ` with minrows set to 100

[2022-02-16 12:48] buniello opened #619 "User submission 614fa65d09113d00018af505 to be pushed through sumstats validation before data release"
The user submission 614fa65d09113d00018af505 is undergoing sumstats validation again after curation. Can you please push it through validation for this upcoming data release @sajo-ebi?

[2022-02-16 14:19] buniello opened #620 "OTAR user query: investigate missing random harmonised files from the FTP"
Jeremy S. identified three studies that used to host harmonised sumstats and do not anymore.
They are all part of big users' submissions that have had their multiple studies published and unpublished various times -perhaps the links with harmonised files for these individual studies were lost somewhere in the process?

GCST90002229 - from https://www.ebi.ac.uk/gwas/deposition/submission/5f0450988a

[2022-02-17 09:14] buniello opened #621 "Re-publish all the entries for Harshfield 34503513 for upcoming data release"
All 923 entries from Harshfield should be re-published for the upcoming data release:
http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/publication/34503513.

Original ticket:
https://github.com/EBISPOT/goci/issues/568#issuecomment-1035143749

[2022-02-17 10:03] earlEBI commented on #621
@sajo-ebi confirmed, looks good

[2022-02-17 14:49] jdhayhurst commented on #589
released. the harmonisation pipeline had already completed for these, so I deleted the harmonised data and requeued it with the new files you provided

[2022-02-18 12:00] eks-ebi opened #624 "Email to submitter after successful submission is missing text that was previously there"
The email that is sent to submitters after a successful submission appears to be missing some text that was previously added to explain the post-submission data release process.

Here is an example of the full text of the email as it should be, and as it was previously implemented (see old ticket: https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/321). The section

[2022-02-18 12:20] eks-ebi opened #625 "Add curator-only sheets and columns when curator downloads submitted templates in depo-curation"

[2022-02-18 14:30] eks-ebi opened #626 "Edits to documentation in Search UI"
The following pages have been edited in the documentation branch and are ready for review before the next data release:

https://github.com/EBISPOT/gwas-ui/blob/documentation/goci-interfaces/goci-ui/src/main/docs/ancestry-data-content.adoc
(added link to GWAS Diversity Monitor)

https://github.com/EBISPOT/gwas-ui/blob/documentation/goci-interfaces/goci-ui/src/main/docs/submission-content.adoc
(add

[2022-02-21 11:38] eks-ebi opened #627 "Editing a submission in depo-curation should not trigger resending validation emails to the original submitter"
When a curator edits a submission in depo-curation, the original submitter of the submission (in deposition) should not receive a new email about the (successful or unsuccessful) validation of their submission.

[2022-02-21 14:18] earlEBI opened #629 "Bulk unpublish studies - Backman PMID 34662886"
Please unpublish all studies so I can add associations.

[2022-02-21 14:34] earlEBI commented on #616
Closing this issue as I managed to get it to go through myself.

[2022-02-21 14:34] #616 closed

[2022-02-22 08:19] ljwh2 opened #630 "GWAS Catalog logos need a CC-BY license"
We sometimes get requests for permission to use the GWAS Catalog logo in a paper or presentation. Helen suggested adding a CC-BY license to the image to remove the need to grant permission. I don't know where this should go.

[2022-02-22 17:01] sajo-ebi opened #631 "Import Submission Changes to include new Reported Traits & EFO Traits"
Once the Disease Traits & EFO Traits have been implemented in Depo Curation , they will be used to map traits to studies & import submission need to be changed in order to read data from the new database objects instead of previously used free text. This will need changes in Ingest Service & Goci codebase

[2022-02-22 21:37] ljwh2 commented on #629
@earlEBI  what is the deadline for this please

[2022-02-22 21:40] ljwh2 commented on #613
@eks-ebi Could you do some investigation to find out what might be going on here, with some specific examples please?

[2022-02-22 21:45] ljwh2 commented on #607
@Santhi1901 what's the deadline for this please?

[2022-02-22 21:47] ljwh2 commented on #530
moving this ticket to icebox as superceded by goci#533

[2022-02-22 21:47] ljwh2 commented on #520
@buniello could you please check if this error still exists in the latest DR?

[2022-02-23 08:47] Santhi1901 commented on #607
atleast 2 days before next data release

[2022-02-23 09:09] earlEBI commented on #629
@ljwh2 I need this to be done in time to resubmit, deal with any issues (create tickets to push through sumstats etc) and republish before an intervening data release.
So, if the next data release is due to start on the 28th, I would need this done today. Otherwise, it should be done ASAP after the next data release goes through.

[2022-02-23 10:59] sajo-ebi commented on #631
To make the Mongo DB compatible with Oracle DB we need to make some changes in the data model design for Reported Traits & EFO Traits

[2022-02-23 11:23] buniello commented on #520
I asked Jack from OTAR to double-check for me - he's the one who reported the latest issues

[2022-02-23 12:47] sprintell commented on #533
There are over 32,000 disease traits in the database and 5193 EFO Traits, this list huge list is been pulled in all the pages.
The way this is pulled on all the pages is presently been adjusted to leverage on spring inbuilt Ehcache technology, as soon as this is modified to be called in an efficient way, there will be improved performance on all the pages

[2022-02-23 13:19] #618 closed

[2022-02-23 13:21] #594 closed

[2022-02-23 13:24] ala-ebi commented on #599
problem 1: publication was in ELIGIBLE status after the submission was done, causing the import button to be disabled, updated the publication to the UNDER_SUBMISSION status to resolve it
problem 2: after changing the publication status, the import hung because another big import was running that's locking the tables on oracle side, to resolve it we had to wait for the big import to finish and res

[2022-02-23 13:24] #599 closed

[2022-02-23 14:46] #614 closed

[2022-02-23 14:46] #610 closed

[2022-02-23 14:47] #579 closed

[2022-02-23 14:49] #605 closed

[2022-02-23 14:54] #606 closed

[2022-02-23 14:58] #573 closed

[2022-02-23 17:59] ljwh2 commented on #629
@sajo-ebi just a reminder to do this asap please

[2022-02-24 10:00] jdhayhurst opened #632 "Change FTP sync behaviour wrt to unpublishing"
When a curator set IS_PUBLISHED to FALSE, the ftp sync revokes public permissions on the FTP. This is no longer the desired behaviour. Instead, point to the "permanently unpublished from catalog" field as mentioned in the comment here:https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/gwas-user-requests/51

[2022-02-24 11:35] ala-ebi commented on #600
UI: two checkboxes and a button to save
API: use the existing PUT method for studies

[2022-02-24 13:57] eks-ebi commented on #613
Update:
- 73 unique EFO terms were missing from the download, across 130 studies (142 individual study-EFO combinations)
- @ala-ebi pulled out what was expected to be displayed for each trait from the database
- I cross-referenced that to Zoe's list of EFOs with the missing 'www' in the EFO URI, and that accounts for 46/73 terms - these should be fixed by EFO ticket EBISPOT/efo#1456
- 3 other term

[2022-02-24 14:09] eks-ebi commented on #613
@ala-ebi @ljwh2 Here are the remaining missing terms with my analysis of the problem and proposed solutions. Let me know what you think:
[https://app.zenhub.com/files/2995118/90a67cfc-c0c2-4ea0-86cb-8bc33f0e6a3f/download](https://app.zenhub.com/files/2995118/90a67cfc-c0c2-4ea0-86cb-8bc33f0e6a3f/download)

[2022-02-24 14:27] jdhayhurst commented on #632
@sprintell please could you expose the "Permanently unpublished from Catalog" field with the curation API (https://www.ebi.ac.uk/gwas/curation/api/v1/public/studies) so that the sync script can access this value. I don't know how this value is mapped in the DB.

[2022-02-24 15:36] jdhayhurst opened #633 "codon migration for curators work"
1) Collect processes and files that need to be migrated. Working doc for collecting items to migrate: https://docs.google.com/document/d/1w1AZl0rZtYMhvf2pqc3LVeeYfCYrJxj2gmEFcqKhwUg/edit#
2) migrate those over to codon

[2022-02-24 16:25] #626 closed

[2022-02-25 10:31] eks-ebi opened #635 "Enable submission of an extra study for PMID `28076899`"
**Submission history:**

1. The publication was curated by curators, with 2 entries: (a) multi-ancestry analysis and (b) Asian-only subset
2. The author completed a sumstats-only submission in Nov 2020, and provided sumstats files for entries (a) and (b). Submission ID: `5fabf0c0057c9f0001343cdf`
3. The author would now like to add summary statistics for a 3rd analysis: (c) European-only subset
4.

[2022-02-25 10:54] sajo-ebi commented on #629
@earlEBI the pubmedId has been unpublished , kindly confirm

[2022-02-25 14:23] jdhayhurst opened #636 "validation failed (error on our side) for submission 61f804ffad11ca0001548bb0"
This is a submission of ~200 studies. Some of the cluster jobs (there is one per study) took longer than the permitted 24 hours to complete. For this reason, the whole pipeline failed. It's only possible to run 100 parallel jobs, and on that queue, there is a limit of 24 hours. Network issues and cluster availability can cause this to timeout.

[2022-02-28 10:42] buniello opened #637 "Investigating a user query: Variant does not map to the genome"
The user Dan Bolser reported a strange behavior for this variant:
https://www.ebi.ac.uk/gwas/variants/rs11385942

EMAIL TEXT BELOW:
On this page:
https://www.ebi.ac.uk/gwas/variants/rs11385942

you say that, "Variant does not map to the genome", however, in the LD plot below, it clearly has a genomic position.

Sorry if this is just an artifact.

Also, it is linked to Ensembl with a genomic locati

[2022-03-01 10:32] earlEBI commented on #629
Thanks Sajo, please can you change status of all 7,972 studies to 'publish study' before the data release?

[2022-03-01 11:17] jdhayhurst opened #639 "Run sumstats sync (from submission app) from codon crontab"
Currently the sync pipeline runs from gitlab: https://gitlab.ebi.ac.uk/gwas/sumstats-depo-to-harmonisation-sync/-/pipelines
but it often fails due to issues with the gitlab runner. It would possible (and probably better) to have this run as a bash script from the codon crontab.

[2022-03-01 12:18] earlEBI commented on #629
@sajo-ebi confirmed, thanks

[2022-03-01 15:58] buniello opened #640 "Deleting a duplicate "importable" submission entry for Guðjónsson PMID 35078996 - submission ID 6198ce0f81051b000178cee4"
There is a duplicated "importable" submission entry for Guðjónsson PMID 35078996 in the curation app (first in list here http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/submissions). Probably due to a duplicated sync process for this submission?

In practice, the all studies from the Guðjónsson paper have already been imported and successfully published in the Catalog:

http://ves-ebi-e4.ebi.ac.uk:

[2022-03-01 17:44] sajo-ebi commented on #631
@eks-ebi The changes to sync the Disease/EFO Traits from Depo Curation to Curation is complete now.

The Sync process will run every hour once so any changes you do in Traits in Depo Curation should be reflected with in an hour.

For the submission we have a new flow where the traits will be mapped using the Study Traits Bulk upload mapping for both Disease & EFO Traits & then the import of submis

[2022-03-02 11:18] jdhayhurst commented on #636
Contacted transfer team re. FTP slowness

[2022-03-02 17:19] buniello commented on #620
thanks @jdhayhurst, I sent this ticket to @Jeremy37 as reference too

[2022-03-03 14:31] jdhayhurst commented on #636
manually validated and staged files. callback id zC88yXj7

[2022-03-03 16:02] jdhayhurst opened #642 "migrate peak finder script to codon"
This repo https://github.com/EBISPOT/gwas-associationFilter can be merged into GWAS utils and distributed that way

[2022-03-03 17:11] jdhayhurst commented on #642
Current workflow:
1. Create eg. the attached input file and save it to my home directory in a folder called ‘filtering’.
2. Ssh noah-login
3. Cd filtering
4. /path/to/peak_finder.py -f SNPs_example.txt -o SNPs_example_output.txt
5. Then I’d go into the finder window -> filtering folder and open the ouput.txt file in Excel to see results.

This would not be entirely possible on codon - we'd either

[2022-03-03 17:21] jdhayhurst opened #643 "data_snapshot-GOCI-2181.py needs to be put under version control and migrated to codon"
See https://docs.google.com/document/d/1w1AZl0rZtYMhvf2pqc3LVeeYfCYrJxj2gmEFcqKhwUg/edit# for more details. This script runs weekly, but is not under version control. We should add it to the gwas-utils repo and set up a the crontab on codon to schedule it.

[2022-03-04 09:13] buniello commented on #520
The error does not exist in the latest DR

[2022-03-04 09:13] #520 closed

[2022-03-07 10:12] buniello commented on #505
Please see this ticket for the list of publication to split: https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/496

[2022-03-07 13:37] buniello opened #644 "Uploading a file with 1059 SNPs through curation app"
I have been trying to upload a file with 1059 SNPs through the old curation app since this morning but it fails -- i think the system is too slow and times out
13:29
if I send the spreadsheet over, would please a dev try uploading from the backend?
13:33
http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/studies/63318243/associations/getUploadResults

http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/stu

[2022-03-08 12:01] eks-ebi commented on #631
I can confirm that Reported traits added in Depo-curation appear later in the Curation database.

[2022-03-08 12:04] eks-ebi commented on #631
@sajo-ebi I haven't yet been able to test whether the Study Traits Bulk upload mapping is carried over to curation, because I am having errors with the bulk upload itself:

Tried assigning a reported trait to study GCST90000225 in this submission using bulk upload: https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/5fa160ccf59a3b00016dedaf

Upload successful according to report:
`accession	tr

[2022-03-08 17:28] buniello commented on #644
Thank you @ala-ebi for sorting this problem for me. All my SNPs are now uploaded.
There was a duplication for rs2294487 in the database SNP table that prevented my list to get uploaded.

[2022-03-09 09:24] Santhi1901 commented on #607
@ljwh2 it is still not added in the curation app

[2022-03-09 09:53] sprintell commented on #601
Sample output TSV File here: https://docs.google.com/spreadsheets/d/1AzwwTvTylRRgyyimSI0RLSA9NnfOT3LM3OSbwpnX-fs/edit#gid=1537702113

[2022-03-09 10:05] #636 closed

[2022-03-09 10:06] #644 closed

[2022-03-09 10:45] #620 closed

[2022-03-09 11:12] #553 closed

[2022-03-09 11:14] #490 closed

[2022-03-09 11:15] #596 closed

[2022-03-09 11:16] #558 closed

[2022-03-09 11:17] #629 closed

[2022-03-09 11:21] ala-ebi commented on #567
testing was held due to changes I made to Sajo's changes while he was away, will merge to dev and flag Lizzy

[2022-03-09 11:28] ljwh2 commented on #590
@earlEBI please confirm whether this is still required

[2022-03-09 11:30] eks-ebi commented on #632
Here is the "Permanently unpublished from Catalog" status in the status field, e.g. on the Curation homepage in the list of filters:
![Screenshot 2022-03-09 at 11.28.03.png](https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/e57e4e1b-19e6-48eb-851a-f9792df050b7)

There are also 2 studies in the Catalog that currently have this status:
study ID: `10065894` and `6425`

[2022-03-09 11:34] #567 closed

[2022-03-09 15:28] eks-ebi opened #645 "Delete 2 EFO terms from Curation database"
Task:

Delete 2 EFO terms from the Curation database:
1. "Zika virus congenital syndrome (deprecated)" http://purl.obolibrary.org/obo/DOID_0080180
2. "brain-derived neurotrophic factor measurement (deprecated)" http://purl.obolibrary.org/obo/NCIT_C82004

I have replaced these with new terms, and they should no longer be linked to any studies.
However, for some reason I cannot delete them from the

[2022-03-09 15:29] buniello commented on #496
We discussed a pipeline to efficiently handle these tasks - 1) Annalisa is creating submissions and filling submission forms for the above publications 2) Sajo is handling the GCSTs creating part as per goci #505 (https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/505) 3) James is in charge the summary statistics part at the end of the pipeline

[2022-03-09 16:03] eks-ebi commented on #645
Figured this out now - realised that these work failing to delete because there was some associations (even though no studies) tagged with these EFOs. Have now updated the association-level mappings and successfully deleted the deprecated traits.

[2022-03-09 16:03] #645 closed

[2022-03-09 18:05] ljwh2 opened #646 "Improve searching on parent EFO terms"
At the moment parent terms are only available in the search UI if they have been added to the database, i.e. directly annotated to a study. It would be useful for users if we pulled in all parent terms from EFO to enable better search functionality. This could be done when we have improved the performance of the UI.

[2022-03-10 12:42] sajo-ebi commented on #505
Hi @buniello unfortunately Deposition Sync always makes it closed when it run as the studies were published before , Have opened the '28240269' & '24816252', you can create submission today , I can change GCSTId once you have created submission

[2022-03-10 15:09] buniello commented on #505
Thank you @sajo-ebi, I have created the two submissions today.
PMID 28240269 is https://www.ebi.ac.uk/gwas/studies/GCST004365 at the moment
PMID 24816252 is https://www.ebi.ac.uk/gwas/studies/GCST002443 at the moment

[2022-03-10 15:48] sajo-ebi commented on #505
@buniello can you let me know the submission Ids ?

[2022-03-10 17:25] jdhayhurst commented on #643
Strong dependency on database and secrets stored on filesystem.
- Refactoring and placing in gwas-utils

[2022-03-11 11:51] jdhayhurst commented on #643
It does work but in a fundamentally unportable way, in that it appends to a file that lives on the filesystem. Will migrate that file for now, but this could be rewritten in future so that it can be run from anywhere (ideally using the curation API)

[2022-03-11 16:39] jdhayhurst commented on #642
merged into gwas-utils. Has no dependencies on database or cluster, so can be run locally.

[2022-03-14 09:28] earlEBI commented on #590
Doesn't seem to be, no. I'll close the issue.

[2022-03-14 09:28] #590 closed

[2022-03-14 10:33] ljwh2 commented on #631
Just documenting here that Elliot and I discussed and think the **study tag** should be included in the Study Traits Bulk upload mapping. This would allow curators to make an intuitive link between the GCSTs and traits, and prevent mistakes occurring. Ideally, the upload should be rejected if study tags and GCSTs do not match. If this is complicated to add, it is not necessarily a blocker to the f

[2022-03-14 11:19] eks-ebi commented on #631
Thanks @ljwh2, one clarification I would make is that we would like the **study tag** to be included in both the Reported Trait and EFO Trait Bulk Upload files.

Also, at the moment, when a curator goes into the study page for a submission and downloads the bulk upload .tsv template, its contents are generic and always contain the same dummy examples of both traits and GCSTs:
a) eventually, it wou

[2022-03-14 12:48] sajo-ebi commented on #631
@eks-ebi the first point we can address that at later point of time.
we can implement the 2nd point with out much efforts will push the fix & let you know

[2022-03-14 17:46] jdhayhurst commented on #643
Cron setup on for spotbot on codon - confirm working at next scheduled execution

[2022-03-14 17:47] jdhayhurst commented on #643
@earlEBI Please could you let me know if this is working correctly - the next run will be on Sunday. I have deactivated the current (old) implementation and activated the new one.

[2022-03-15 16:27] eks-ebi commented on #631
confirmed! thanks @sajo-ebi

[2022-03-15 16:54] ljwh2 commented on #607
EFO release is now out including fix for the duplicate URIs so you should be able to add these now @ala-ebi @Santhi1901
Note EFO have some problems with the update to the OLS website (working on a fix) but should be available in the API

[2022-03-16 09:28] eks-ebi commented on #613
Issues now resolved for all but one of the terms, either by:
* correcting the term URI at the EFO end
* replacing obsoleted/duplicated terms in GWAS Catalog with correct EFO terms and re-annotating studies/associations
* requesting term imports from other ontologies or new terms to be created in EFO

[2022-03-16 09:38] eks-ebi opened #647 "Investigate problems with EFO term "treatment""
This EFO term is not displaying correctly in the GWAS Catalog downloads, however there doesn't seem to be any obvious cause for the problem in this case:

label: treatment
URI: http://www.ebi.ac.uk/efo/EFO_0000727
short form: EFO_0000727

Initial observations:
* The term label, URI and short form in the GWAS Catalog curation database all match those in OLS
* The term displays correctly in the Sear

[2022-03-16 09:47] eks-ebi commented on #613
This ticket can be closed because any outstanding issues are tracked elsewhere:

1. Remaining terms for import /creation tracked in EFO ticket: https://github.com/EBISPOT/efo/issues/1465

2. Created new separate ticket to investigate 1 remaining missing term with no obvious cause: https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/647

[2022-03-16 09:51] eks-ebi commented on #647
For other missing terms in the download, specific problems were identified and resolved in prev ticket: https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/613. But this term does not have any of the same issues as those other terms, so created this separate ticket to investigate.

[2022-03-16 10:16] ljwh2 commented on #635
Create new study in curation, and then @sajo-ebi  will add manually to appear in prefilled template alongside old studies. Check in with @buniello  for curator perspective. May need to add NR in sumstats fields? Unclear what downstream effects of this will be.

[2022-03-16 10:41] ala-ebi opened #648 "enable import for study flags"

[2022-03-16 10:41] ala-ebi opened #649 "enable import for the publication flags"

[2022-03-16 10:45] buniello commented on #635
Steps should be as follows:
1. re-curation from curation app -- adding new studies
2. publishing new entries and waiting for data release for the submission form to get updated with new entries
3. submission of new sumstats -- published submission. Sajo will need to open the PMID for submission and also take a look at whether the form is rightly populated after new addition (edited)
Note:
the prev

[2022-03-16 11:04] #613 closed

[2022-03-17 15:06] jdhayhurst commented on #639
Rewritten as a bash script to be run nightly from spotbot crontab on codon

[2022-03-18 11:18] earlEBI opened #650 "Bulk unpublish Naqvi PMID 33821002 to add associations"
Please unpublish all studies for PMID 33821002 so I can add associations and republish.

This needs to be done before Wednesday 23rd March to allow time to republish before next data release.

[2022-03-18 17:03] jdhayhurst commented on #639
modified crontab to enable bsub to be callable. Confirmed working.

[2022-03-21 09:46] earlEBI commented on #643
@jdhayhurst yes, I received both data release and curation snapshot emails on Sunday as usual, thank you

[2022-03-21 10:21] sprintell opened #651 "Set up self managed gitlab runner"
As developers, we need a self hosted runner on the new gwas-gromit VM in Harlow to support GitLab jobs.

The present shared runner used by the GWAS project CI/CD has been problematic and has gone from bad to worse in the past weeks, now almost impossibile to use. The web prod has responded that the shared runners should not be relied on for production.

**Useful info from previous conversation wit

[2022-03-21 16:43] buniello commented on #505
Hi @sajo-ebi, it does not matter which study adopts the original  GCST004365. For simplicity, let's assign it to the first study on the list?

[2022-03-21 17:27] sajo-ebi commented on #631
@eks-ebi Thanks for the elaborate testing , on point 3 & 4 , they are quick fixes I can put them out by tomorrow , On Point 5 just wanted to clarify we haven't done anything to map association to traits , they are still using the old free text Traits in template not the ones added through Trait mapping , clarifying to avoid any confusion or wrong assumption

[2022-03-21 17:39] eks-ebi commented on #631
@sajo-ebi Thanks for that very important clarification, I had made a wrong assumption there.
I think it will be problematic for studies and associations to get their trait mappings from different sources, so we will probably need to update the association mappings so that the the traits assigned to studies are also propagated to all of their associations. I'd suggest a quick discussion at the next

[2022-03-21 19:29] ireneisdoomed opened #652 "Missing associations from Regeneron Exome Analyses"
Hello,

I have noticed differences in the ExWAS results from the Regeneron study ([PMID:34662886](www.ncbi.nlm.nih.gov/pubmed/34662886)) reported in their supplementary data and the associations made available through the GWAS Catalog.

To be more specific, I see no overlap between the accessions reported in the publication and the significant associations reported by the GWAS Catalog.
A major cau

[2022-03-22 09:41] earlEBI commented on #652
The study accessions in the above table image are for the gene-burden studies.

The associations for eg. 6mm weak meridian left (5097) can be found in the single variant study accession: [GCST90079274](https://www.ebi.ac.uk/gwas/studies/GCST90079274)

single variant study accessions are in SD4, filtering study tag column to end in '_SV'
![Screenshot 2022-03-22 at 09 31 23](https://user-images.gith

[2022-03-22 09:50] sajo-ebi commented on #631
@eks-ebi I can investigate to find how much changes are needed for making association mapping to the new traits functionality , I assume it shouldn't be huge amount of changes , if it is small I can push the same to the Dev environment & ask you to validate

[2022-03-22 09:53] eks-ebi commented on #631
Great, let me know when you need my input!

[2022-03-22 10:59] sprintell commented on #604
Blocked at the moment by 2 requests waiting for TSC's response:

**1.) Accssing /nfs/production/parkinso/spot from new VMs:**

**Detail 1:**
In Hinxton all our VM's (Snoopy, Gromit, Garfield) & Noah Login had access to the share path /nfs/spot/

The corresponding path in Harlow & Codon cluster is /nfs/production/parkinso/spot

Though this path is accessible from codon, its not accessible from the

[2022-03-22 16:33] buniello opened #654 "Investigating integration of Exome sequencing summary statistics from Astra Zeneca, linked to Wang Q. PMID 34375979"
Both Open Targets and the SAB have prioritised the integration of exome sequencing results from AstraZeneca: https://azphewas.com/.
While we are waiting for the AZ team to prepare their data for submission to the Catalog, we have also obtained the summary statistics from the Open Targets team. @ljwh2 would like to explore the option to wrangle and submit the data internally to save time.
The AZ te

[2022-03-22 17:26] ljwh2 opened #655 "Trait page data loading improvements"
In the GWAS Catalog search UI, searching by trait returns a page with url in the format https://www.ebi.ac.uk/gwas/efotraits/EFO_12345678

Manually editing EFO part of the url produces a valid page, irrespective of whether it is a real EFO in use in the Catalog.
There should be some validation there that first checks if the trait exists in the db, and if not, presents “Page not found” rather than

[2022-03-22 17:32] sajo-ebi commented on #631
@eks-ebi Resolved point 3 (Study Tags) in studies list & deployed in Sandbox . For point 4 unfortunately the table is dynamic & we don't have control over the order of columns that appear in sample template , but you can manually change the column names & make it same as the study accession sheet , just ensure the columns names are exactly same as given in the template.

On the Association mapping

[2022-03-22 20:47] ljwh2 commented on #635
@eks-ebi please confirm whether this will be ready for developer part within new sprint?

[2022-03-22 20:51] ljwh2 commented on #640
Noting this could be causing issues in the data table displayed on the search UI - studies from this publication appear with no author or title

[2022-03-22 21:03] ljwh2 commented on #615
@earlEBI do you know if you would have been able to publish with this error? Looks like the associations are approved?

[2022-03-23 09:07] earlEBI commented on #615
@ljwh2  Yes, they approved, but I'm afraid I don't know if it would've let me publish. I didn't try.

[2022-03-23 09:22] eks-ebi commented on #635
yes! I'm working on it now in fact, so should be ready by end of today at latest

[2022-03-23 09:49] eks-ebi commented on #635
Steps so far:

1. New study has been created, but I needed to move some top associations from the original study into the newly created one, so am currently waiting for these to map

[2022-03-23 10:06] sajo-ebi commented on #627
Started Working on this ticket , have identified the section where the email was sent , it was for metadata only submission

[2022-03-23 10:13] ala-ebi opened #656 "add the pre-datarelease check for published/unpublished status to the data release bamboo plan"

[2022-03-23 10:25] ljwh2 commented on #505
closing this ticket, please create new ones for other studies @buniello

[2022-03-23 10:34] sprintell opened #657 "Oracle DB Migration"

[2022-03-23 10:43] eks-ebi commented on #631
@sajo-ebi We discussed today that some traits appear with surrounded by " after importing them into Curation - can you please check that before releasing?

[2022-03-23 11:27] #607 closed

[2022-03-23 11:28] #639 closed

[2022-03-23 11:28] #643 closed

[2022-03-23 11:30] ljwh2 commented on #619
can this be closed @buniello ?

[2022-03-23 11:35] #619 closed

[2022-03-23 12:22] #642 closed

[2022-03-23 15:59] buniello commented on #496
@jdhayhurst, for Suhre 28240269 my submission form with metadata is ready:
https://www.ebi.ac.uk/gwas/deposition/submission/622a122378a7f500016a5342
Please let me know how would you like me to proceed -- shall I submit with NA for all sumstats info, or shall I wait to fill all info when file names etc are ready?

[2022-03-23 16:44] sajo-ebi commented on #650
@earlEBI the studies have been unpublished, kindly confirm

[2022-03-24 15:08] jdhayhurst commented on #651
TODO:
- figure out and document how the gitlab logs work
- determine whether the resources can support another runner or whether we should provision another VM

[2022-03-25 09:21] jdhayhurst opened #659 "Run access log analysis from codon cluster"
1) Update the access log analyses for the project update meeting. Docs: https://www.ebi.ac.uk/seqdb/confluence/pages/viewpage.action?pageId=64720227
2) Do this from Codon
3) Update the documentation above

[2022-03-25 10:45] sajo-ebi opened #660 "Deployment of Traits Functionality"
As part of releasing Traits Functionality we have to deploy following components to Production -:

gwas-curation-service
gwas-ingest-service
gwas-curation-ui
Goci

There are some steps which need to be done post deployment -:

- Post Curation Service deployment Load Disease Traits & EFO traits data in to Mongo DB
- Post Goci Deployment Load Mongo SeqId in to the Oracle DB

[2022-03-25 10:56] sajo-ebi opened #661 "Deployment of Traits Functionality"
As part of releasing Traits Functionality we have to deploy following components to Production -:

gwas-curation-service
gwas-ingest-service
gwas-curation-ui
Goci

There are some steps which need to be done post deployment -:

- Post Curation Service deployment Load Disease Traits & EFO traits data in to Mongo DB
- Post Goci Deployment Load Mongo SeqId in to the Oracle DB

[2022-03-25 11:15] jdhayhurst commented on #651
- allocated more free space to the /var dir
- increased the concurrency to 4

[2022-03-25 11:28] sajo-ebi commented on #635
Hi Elliot, I can add the data from backend , I need the details for study 'GCST012796' in the below format to add the entry in DB -:

`studyAccession
:
"GCST004061"
trait
:
"Sjögren's syndrome"
sampleDescription
:
"585 European ancestry cases, up to 51 African ancestry cases, up to 16..."
hasSummaryStats
:
false`

[2022-03-25 11:47] jdhayhurst commented on #496
Hi @buniello the suhre file id's are in this [text file](https://app.zenhub.com/files/2995118/689e15ad-b6a9-452d-9489-a42d4a361b56/download). These need to be added into the template in the sumstats file field along with the correct genome assembly. In the md5 field, just put "28240269" for all. The file needs to get through the basic field validation and we need the file identifiers in there so t

[2022-03-25 12:19] eks-ebi commented on #635
Hi @sajo-ebi, thanks! - here are the details as requested:
`studyAccession : "GCST012796" trait : "Sjögren's syndrome" sampleDescription : "585 European ancestry cases, 1,546 European ancestry controls" hasSummaryStats : false`

[2022-03-25 12:57] earlEBI commented on #650
@sajo-ebi Thanks Sajo. Please could you republish all studies except '80465123' before the next DR? thank you

[2022-03-28 09:37] buniello opened #662 "Investigating why this submission: https://www.ebi.ac.uk/gwas/depo-curation/submissions/617bbfa3921d1b000131a073 is blocked for editing from the depo-curation app"
This submission
https://www.ebi.ac.uk/gwas/depo-curation/submissions/617bbfa3921d1b000131a073
is blocked for editing from the depo-curation app.
@sajo-ebi could you please take a look - this is a blocker for data release to start.

[2022-03-28 09:37] buniello opened #663 "Investigating why this submission: https://www.ebi.ac.uk/gwas/depo-curation/submissions/617bbfa3921d1b000131a073 is blocked for editing from the depo-curation app"
This submission
https://www.ebi.ac.uk/gwas/depo-curation/submissions/617bbfa3921d1b000131a073
is blocked for editing from the depo-curation app.
@sajo-ebi could you please take a look - this is a blocker for data release to start.

[2022-03-28 09:45] #663 closed

[2022-03-28 09:59] buniello commented on #640
Another duplicate  importable submission entry appeared in the curation app for guindo-martinez PMID 33893285:
http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/submissions.
This has to be deleted as well as it may create problems downstream.

[2022-03-28 13:33] sajo-ebi commented on #650
Hi @earlEBI Studies have been published , kindly verify for '80465123' whether it is not published

[2022-03-28 13:34] earlEBI commented on #650
@sajo-ebi perfect, thank you!

[2022-03-28 15:38] sajo-ebi commented on #635
@eks-ebi have added the new entry in DB , please create a new sumstats only submission for the Pmid , the prefilled template should have the new study populated

[2022-03-28 16:47] jdhayhurst commented on #633
training document: https://docs.google.com/document/d/1ah60ei2zMcrCBD5J36weU6kemAIlaaVZ0psGCOhLu38/edit#

[2022-03-29 08:02] earlEBI opened #665 "Richardson - Blocker to DR - cannot publish 18 studies which have 'no mapping assigned'"
All but 18 studies are now in publish state from PMID '35213538'.
These 18 studies have some approved associations, but some remain unapproved with the following error:
'Cannot approve all associations as no Mapping assigned'

![Screenshot 2022-03-29 at 09.00.57.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/c88e6afe-f492-4a11-a4a7-b23419a532fc)

List of affected studies:

[htt

[2022-03-29 10:02] buniello opened #666 "Investigating file formats for Yueji"
I am working with the studies of publication 29346644, and there are four studies (GCST005359, GCST005360, GCST005358, and GCST009144). I found study GCST005359 and GCST005360 are also on your Study Status Tracker list without any reason they cannot be harmonised. However, I found the data is strange in the following ways (example of GCST005359):
There are two files for this study: YanQ_29346644_a

[2022-03-30 08:56] jdhayhurst commented on #633
Need to write up gwas-utils usage

[2022-03-30 12:43] eks-ebi opened #669 "Display the current EFO release in the Search UI"
A user has requested to be able to see the EFO release/version that is in use for the current GWAS Catalog release.

This could be added to the end of this list of information in the Search UI results page:

![Screenshot 2022-03-30 at 13.43.19.png](https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/090677b7-d29d-4835-926d-cbcf735e6040)

[2022-03-30 12:46] eks-ebi commented on #669
EFO releases and their dates can be looked up at https://github.com/EBISPOT/efo/releases

[2022-03-30 12:48] eks-ebi opened #670 "Update how background EFO traits are assigned in Depo-curation to match how main EFO traits are assigned"

[2022-03-30 16:37] jdhayhurst commented on #659
- Set up ssh keys for accessing prod and fallback VMs from codon

[2022-03-31 09:38] eks-ebi commented on #670
If possible, I think it would be most efficient if main and background EFO traits can be assigned to studies using the **same** operation, e.g. using two different columns in the same .tsv bulk-assigning template.

[2022-03-31 09:49] eks-ebi opened #671 "Submission ID link in prod version of Depo-Curation still links to wwwdev"
In the production version of Depo-Curation, at the top of each submission page (e.g. https://www.ebi.ac.uk/gwas/depo-curation/submissions/6241c47e78a7f500019c78f0) there is a link attached to the submission ID in the breadcrumbs that links to the Deposition interface.

Currently, this is still pointing to e.g. https://wwwdev.ebi.ac.uk/gwas/deposition/submission/6241c47e78a7f500019c78f0
whereas it

[2022-03-31 09:50] earlEBI opened #672 "Updated documentation / FAQ page."
Made an edit to documentation here: https://github.com/EBISPOT/gwas-ui/blob/documentation/goci-interfaces/goci-ui/src/main/docs/faq-content.adoc

For release.

[2022-03-31 09:59] sajo-ebi commented on #640
@buniello can you confirm the submisisonId to be deleted for pmid '33893285 ' is '6185126281051b00017070d1'

[2022-03-31 10:08] buniello commented on #640
yes, thanks @sajo-ebi!

[2022-03-31 11:20] ljwh2 commented on #640
@sajo-ebi @buniello can you confirm that the duplicate submission from Gudjonnson originally mentioned in the ticket was deleted please, and when? That publication is still appearing with errors in the search UI, but maybe we need to wait for the next DR for it to clear.

[2022-03-31 11:26] buniello commented on #640
yes, it's not here anymore: http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/submissions @ljwh2

[2022-03-31 11:43] sajo-ebi commented on #640
@ljwh2 for Search UI to be updated  we need for DR to finish

[2022-04-01 08:23] jdhayhurst commented on #659
- added some bash scripts to help a curator run this

[2022-04-01 08:31] eks-ebi commented on #635
@sajo-ebi I just searched for this paper on the Submission page now and it is still closed for submission: https://www.ebi.ac.uk/gwas/deposition/curation_queue (search 28076899) - is it possible that you still have to manually open it for submission?

[2022-04-01 10:17] jdhayhurst opened #673 "Audit sumstats data volumes"
Audit the public data volumes for the sumstats and remove anything we don't need as these fs will be upgraded.

[2022-04-01 17:20] jdhayhurst commented on #659
updated the spreadsheet with all the latest stats. writing up the documentation so that hopefully someone else could do it and have migrated everything over to codon.

[2022-04-04 10:40] jdhayhurst commented on #659
documentation updated: https://www.ebi.ac.uk/seqdb/confluence/pages/viewpage.action?pageId=64720227

[2022-04-04 10:49] buniello opened #675 "Reopening submission https://www.ebi.ac.uk/gwas/deposition/submission/622a122378a7f500016a5342"
Hi @sajo-ebi could you please reopen/reset submission https://www.ebi.ac.uk/gwas/deposition/submission/622a122378a7f500016a5342 so that i can also add sumstats files IDs?
I will submit both metadata and summary statistics

This is quite urgent as i am going on leave from Thursday - thank you!

[2022-04-04 11:30] sajo-ebi opened #676 "Import Submission for Sample Description"

[2022-04-04 12:31] sajo-ebi commented on #676
The Import process need to be changed in order to include Initial Sample Description &  Replicated Initial Sample Description

[2022-04-04 14:10] sajo-ebi commented on #675
@buniello submission has been reset, kindly confirm

[2022-04-04 14:14] buniello commented on #675
yes, it looks good, thanks @sajo-ebi

[2022-04-04 14:36] buniello commented on #496
Thanks @jdhayhurst, I have now submitted the complete form: https://www.ebi.ac.uk/gwas/deposition/submission/622a122378a7f500016a5342

[2022-04-04 15:35] jdhayhurst commented on #496
I've forced the validation to pass for the sumstats (callback id vKAzm5Qu). Will get it to go all the way through and then manually released the files

[2022-04-05 09:48] buniello commented on #505
Hi @sajo-ebi, I have re-opened this issue because none of the GCSTs assigned to the new submission for suhre match with the current GCST in the Catalog: https://www.ebi.ac.uk/gwas/publications/28240269.
The current GCST in Catalog for Suhre is GCST004365. The newly assigned GCSTs are downloadable from here: https://www.ebi.ac.uk/gwas/deposition/submission/622a122378a7f500016a5342.
Also tagging @lj

[2022-04-06 08:43] ljwh2 commented on #665
Is this reolved?

[2022-04-06 08:44] ljwh2 commented on #662
Is this issue resolved @buniello ?

[2022-04-06 08:46] ljwh2 commented on #666
Now resolved by input from user, please confirm @buniello ?

[2022-04-06 08:50] ljwh2 opened #677 "Add reciprocal links for genes in IMPC and GWAS Catalog"
Request from Helen:

This needs:

1. Initial investigation of data format in IMPC
2. Specifications on what we need from them to link to IMPC
3. Discussion with IMPC devs on what format they need data from us.

[2022-04-06 08:51] ljwh2 commented on #677
Note, this is high priority from Helen

[2022-04-06 08:51] buniello commented on #662
yes, resolved

[2022-04-06 08:53] buniello commented on #666
Yes, that is now resolved and I will close this ticket.

[2022-04-06 08:53] #666 closed

[2022-04-06 08:54] #662 closed

[2022-04-06 09:31] jdhayhurst opened #678 "The port for the ingest URL is not being updated when the ingest service is deployed"
We need a solution for when the ingest service is deployed and the port is dynamically reassigned. This affects the services that need to connect to the ingest service via the port (they need their properties updated in order to work). Curation and Deposition sync are affected by this.

[2022-04-06 09:34] #650 closed

[2022-04-06 09:35] #675 closed

[2022-04-06 09:39] #659 closed

[2022-04-06 09:40] #633 closed

[2022-04-06 09:44] sajo-ebi commented on #661
There were Prod issues with Sync Traits & the patch has been released post the fix

[2022-04-06 09:45] sajo-ebi commented on #627
Deployed the fix in Prod

[2022-04-06 09:45] sajo-ebi commented on #676
Deployed in Sandbox

[2022-04-06 10:08] #627 closed

[2022-04-06 10:09] #651 closed

[2022-04-06 10:12] #533 closed

[2022-04-06 10:18] sprintell commented on #672
Pls confirm here http://snoopy.ebi.ac.uk:9580/gwas

[2022-04-06 10:22] #661 closed

[2022-04-06 10:23] #631 closed

[2022-04-06 10:46] jdhayhurst opened #679 "Migrate virtuoso to Harlow DC"
Migrate our virtuoso to Harlow DC for the data release

[2022-04-06 11:03] earlEBI commented on #665
@ljwh2 yes

[2022-04-06 11:18] #665 closed

[2022-04-06 13:18] buniello commented on #505
Thank you @sajo-ebi!

[2022-04-06 13:19] #505 closed

[2022-04-06 15:39] jdhayhurst opened #680 "Confluence page for common issues"
Write a confluence page for common issues

[2022-04-06 17:11] jdhayhurst commented on #680
Skimmed through my mid-sprint tickets and produced this: https://www.ebi.ac.uk/seqdb/confluence/display/GOCI/Common+issues%2C+FAQ+and+troubleshooting+advice

[2022-04-07 07:30] eks-ebi opened #681 "Depo-curation: post-testing bugs and feature requests"
Tickets under this epic include bugs identified during testing of the trait functionality and other aspects of the depo-curation interface, as well as new requirements that have been identified to improve user experience.

[2022-04-07 07:32] eks-ebi opened #682 "Enable assigning EFOs to studies one-by-one"
Currently, reported traits can be assigned to studies either through bulk template upload, or individually in the user interface. However, EFOs can only be assigned through the bulk template upload.

Curators should also be able to assign EFOs to individual studies in the UI, as for reported traits. The field in the UI where EFOs would be added is already there, but not yet functional.

[2022-04-07 07:39] eks-ebi opened #683 "Some study tags not recognised when assigning EFOs in bulk"

[2022-04-07 07:39] eks-ebi commented on #683
@earlEBI can you add more details and an example here if possible?

[2022-04-07 07:41] eks-ebi opened #684 "Reported trait similarity analysis in depo-curation gives 'an unexpected error occurred'"
When uploading a set of reported traits for similarity analysis, the depo-curation page consistently fails and returns 'an unexpected error occurred'.

Example templates attached:

[2022-04-07 07:49] eks-ebi commented on #684
Here is one (very large) example of a template that failed analysis:

[https://app.zenhub.com/files/2995118/1d47e786-3e9d-4bbc-84a5-d9e7202ce7fb/download](https://app.zenhub.com/files/2995118/1d47e786-3e9d-4bbc-84a5-d9e7202ce7fb/download)

(note: it was uploaded to depo-curation as a .tsv but that can't be attached in Zenhub, so I just changed it to .txt to upload it here)

[2022-04-07 07:49] eks-ebi commented on #684
@earlEBI please add any other relevant details or examples

[2022-04-07 08:22] earlEBI commented on #683
I actually got the upload through in the end. I will add details here if I come across the issue again, otherwise can be closed.

[2022-04-07 08:25] earlEBI commented on #684
[Mbatch_similarity.txt](https://github.com/EBISPOT/goci/files/8440988/Mbatch_similarity.txt)

Another example of a list of traits I tried to analysed but only got a vague error message returned.

[2022-04-07 09:00] ljwh2 opened #685 "Data for PMID missing from search UI"
PMID 35232999 appears in the snippets (e.g. https://www.ebi.ac.uk/gwas/search?query=35232999) but clicking through to the publication page does not find any data, it returns "Pubmed ID 35232999 cannot be found in the GWAS Catalog". ![Screenshot 2022-04-07 at 09.49.55.png](https://images.zenhubusercontent.com/5e57ecb5d0668b3a20e94b9e/02742653-d8ba-4169-84d8-6ea86561efc8)

The studies do not appear

[2022-04-07 10:10] jdhayhurst commented on #673
@sprintell I've sent you an email with the details

[2022-04-07 13:51] jdhayhurst commented on #496
Plan:
- get gcsts - check the first one
- create dirs
- cp the harmonised data somewhere safe
- copy raw files
- move dirs to bins on staging
- run sumstats sync
- sync harmonised data to ftp
- md5sums for harmonised

[2022-04-07 13:52] jdhayhurst commented on #496
Ready to sync, but IS_PUBLISH is set to False so they won't sync

[2022-04-07 16:19] jdhayhurst commented on #632
@sprintell how much work do you think it is to implement in the curation API?

[2022-04-08 14:21] earlEBI commented on #672
I will confirm as soon as I see the snoopy link is working again.

[2022-04-11 08:56] Santhi1901 opened #687 "Re-publishing Suhre PMID:28240269"
Re-publishing 1124 studies for https://www.ebi.ac.uk/gwas/curation/publication/28240269 before the next data release

[2022-04-11 11:22] sajo-ebi commented on #687
@Santhi1901 The studies have been published for '28240269' . Kindly  verify & confirm.

[2022-04-12 11:10] jdhayhurst commented on #496
All complete - the only thing remaining is to clean up and fix permissions on GCST004365. In the sumstats directory is a hidden version of GCST004365 that should overwrite the existing GCST004365 dir when all of the studies have been published

[2022-04-12 11:11] jdhayhurst commented on #679
All data and sw copied over for dev1. Dependencies missing from gwas-snoopy. Requested installation of dependencies from sysops

[2022-04-13 13:16] ljwh2 opened #688 "Ensembl 106 remap"
We should remap all associations to the latest Ensembl version when practical.

[2022-04-14 09:35] jdhayhurst opened #689 "data release migration - virtuoso upload step"
As part of the data release migration goci#479, we need to this step to run from the HL/codon.

Dependencies:
 - virtuoso
 - data publisher jar (goci) - this has manually been copied to codon  - need to setup up deployment from goci sw build.
 - codon cluster
 - data and logging directories

[2022-04-14 09:47] jdhayhurst commented on #689
I have created the job in bamboo: http://gwas-gromit:8085/browse/GWAS-DRC.
All the dependencies are in place but the "Build nightly GWAS knowledge base" step of the data release is stalling.

[2022-04-14 09:47] jdhayhurst commented on #689
I have created the job in bamboo: http://gwas-gromit:8085/browse/GWAS-DRC.
All the dependencies are in place but the "Build nightly GWAS knowledge base" step of the data release is stalling.

[2022-04-19 09:37] jdhayhurst commented on #689
Ran to completion: http://gwas-gromit:8085/browse/GWAS-DRC-27 but took much longer than usual

[2022-04-19 12:49] buniello opened #690 "Amending corresponding authors details for submission GCP000318 (user request)"
The user Hongbo Liu has emailed us to ask for a change with the corresponding author for submission GCP000318 - see landing page: https://www.ebi.ac.uk/gwas/studies/GCST90100220.

Current corresponding author name: Hongbo Liu
New corresponding author name:  Katalin Susztak

The user is also asking for a change in the reported trait, but this amendment can be done with depo-curation app.

These cha

[2022-04-19 12:55] ireneisdoomed opened #691 "Studies without a mapped trait in the Downloads file"
**Describe the bug**
The downloadable file containing all studies + annotation (downloadable [here](https://www.ebi.ac.uk/gwas/api/search/downloads/studies_alternative))  has studies without a mapped trait.

**Observed behaviour**
GWAS Catalog's pipelines do not support studies without a mapped trait. However this condition is not met for certain studies,, such as:
[code]

However, the same behavi

[2022-04-19 14:10] ljwh2 commented on #684
@eks-ebi @earlEBI Just to clarify, is this a problem with all uploads to the similarity analysis or only these specific examples? In Elliot's example I can see some of the traits have inverted commas, does it work if you remove them?

[2022-04-19 14:15] ljwh2 commented on #683
@earlEBI can you describe what the issue was and whether a more informative error message would have helped?

[2022-04-19 16:29] ljwh2 opened #692 "Reported traits and studies should be assigned to studies in the same input file"
In the current version of depocuration, curators need to assign reported traits and EFO traits to studies in separate files. Curators should be able to assign both in the same file to make the process more efficient. For maximum flexibility the possibility to enter only reported traits or only EFO traits should be retained.

[2022-04-19 16:29] ljwh2 commented on #692
@eks-ebi tagging you for reference

[2022-04-19 16:39] ljwh2 opened #693 "Assigning EFOs to studies should accept multiple EFOs per line"
Curators need to be able to assign multiple EFO terms to the same study. This is currently possible by creating 2 rows for the same GCST as shown below.

[Screenshot 2022-04-19 at 17.38.39.png](https://images.zenhubusercontent.com/5e57ecb5d0668b3a20e94b9e/655da223-d794-46ae-b015-d8ab6d589611)

Curators would find it easier to use a template that permits the upload of multiple EFO traits on one lin

[2022-04-19 16:40] ljwh2 commented on #693
@eks-ebi tagging for reference

[2022-04-19 16:47] ljwh2 commented on #654
Closing this for now as AZ seem fully engaged to format and submit themselves

[2022-04-19 16:47] #654 closed

[2022-04-19 16:54] ljwh2 commented on #688
Note to self: find out where AF data in GWAS UI comes from

[2022-04-19 17:04] ljwh2 commented on #473
Putting this on ice for now as we are getting closer to generating reports in DepoCuration

[2022-04-20 08:36] ljwh2 opened #694 "Update deposition UI to reflect Life Science Login"
Various places in the deposition UI use the Elixir logo or make reference to Elixir login, this should be updated to reflect the new Life Science login. Once this is done, the user documentation can be updated.

[2022-04-20 08:44] earlEBI opened #695 "Depocuration App Study tab headers"
Suggest showing the following submission template columns on the Study tab:

Accession
Study Tag
Genotyping Technology
Array Manufacturer
Array Information
Imputation
Variant Count
Statistical Model
Study Description
Reported trait
Mapped trait [as EFO]
Mapped background trait [as Background EFO]
Summary statistics file
Cohort(s)

Even more headers are currently shown on the Curation App import[ p

[2022-04-20 08:57] earlEBI commented on #683
I've not seen the issue again. It might have been a mistake on my part. I'll update if I see it again.

[2022-04-20 09:00] ala-ebi opened #696 "fix deposition login page refreshing forever after Elixir migration to LS AAI"

[2022-04-20 09:03] earlEBI commented on #684
All uploads. Just tried it again with a .txt and .csv file with only a few traits and got the same vague unexpected error:
[similarity test.csv](https://github.com/EBISPOT/goci/files/8519986/similarity.test.csv)
<img width="733" alt="Screenshot 2022-04-20 at 10 02 29" src="https://user-images.githubusercontent.com/61545198/164192299-5c0e65b9-0697-4d1d-9471-26fa6fbcdb51.png">

<img width="1208" alt

[2022-04-20 09:37] #696 closed

[2022-04-20 09:46] #689 closed

[2022-04-20 09:49] #602 closed

[2022-04-20 10:15] #680 closed

[2022-04-20 10:15] #679 closed

[2022-04-20 10:18] #600 closed

[2022-04-20 10:20] ljwh2 commented on #687
@Santhi1901  please confirm this ticket can be closed now?

[2022-04-20 10:22] sprintell commented on #648
There is an error in the curation app on snoopy blockign this import. Ala is fixing this

[2022-04-20 10:22] sprintell commented on #649
There is an error in the curation app on snoopy blocking this import. Ala is fixing this

[2022-04-20 10:29] ljwh2 commented on #635
Every time deposition sync runs, the submission will be closed - this needs further investigation to make it workable to external users

[2022-04-20 10:32] sprintell commented on #496
This is done, but waiting for data release before it can be closed

[2022-04-20 12:21] jdhayhurst opened #697 "migrate deposition sync to harlow"
- Deposition sync is currently triggered from Bamboo to run on garfield: http://gromit:10001/browse/GWAS-DS
- change to trigger from codon crontab and run on gwas-garfield

[2022-04-20 13:57] jdhayhurst opened #698 "Data release migration: solr slim"
Ensure that the solr slim stage runs off codon

[2022-04-20 14:08] jdhayhurst opened #699 "Data release migration: solr export stage"
Ensure that the Solr export stage of the data release runs from codon

[2022-04-21 08:55] earlEBI commented on #672
@sprintell Confirmed looks good on Snoopy, thanks

[2022-04-21 09:42] ar-ibrahim opened #700 "Enabling the overwriting of uploaded EFO traits in the depo-curation app"
EFO traits used as placeholders are not replaced or overwritten when a new bulk upload is made to assign new EFOs to the same study in the depo-curation app. Both old and new terms are assigned. It is also not possible to delete or remove unwanted EFOs.

@ljwh2

[2022-04-21 09:42] ar-ibrahim opened #701 "Depo-curation/curation app sync"
EFOs and reported traits assigned to a study in the depo-curation app are not synced with the curation app.

https://www.ebi.ac.uk/gwas/depo-curation/submissions/625046614b61b60001689713
https://www.ebi.ac.uk/gwas/curation/studies/96085331

[2022-04-21 10:03] ar-ibrahim commented on #701
I re-uploaded the submission template, reassigned reported and EFO traits in the depo-curation app and re-imported. The traits are now in-sync with the curation app.

[2022-04-21 10:43] jdhayhurst commented on #697
- setup temp solution to trigger from codon-cron and run from garfield. Will need updating to run from gwas-garfield but the software are not there yet

[2022-04-21 10:50] buniello opened #702 "Expanding the usefulness of the error messages provided by the depo-curation app when curators upload study/trait files"
Currently, the depo-curation app only provides a general "unexpected error occurred" message when the trait/study upload fails for any given reason.
The curators would really benefit from more informative error messages for the different use cases. Below a list of possible reasons for an upload to fail (from real examples):

1. the file has not been saved in tsv extension
2. one or more traits are

[2022-04-21 10:55] Santhi1901 commented on #691
I've made a list of missing EFO and comments in this spreadsheet: https://docs.google.com/spreadsheets/d/1YwG9U5FuUE5K0LCwhgfGt5Q0t3hHS0VbBF8_BdB_WfI/edit#gid=0

[2022-04-21 11:13] ljwh2 commented on #702
Errors expected to appear in the download file are:
1. Trait not present in DB
2. Study Tag & GCST don’t match
3. GCST not present in DB

[2022-04-21 11:14] Santhi1901 opened #703 "Special characters in the reported traits"
I noticed some special characters in the reported traits. I've made the list of these and also suggested the correct ones.
https://docs.google.com/spreadsheets/d/1c8zSXw4bnZ0OlupMBgOCEoaaDATPAylsC-SSzodY-E8/edit#gid=0

[2022-04-21 14:50] ljwh2 commented on #703
Note that these cannot be edited in the depocuration UI as the special characters are not visible there, only in the data download files from the UI

[2022-04-21 15:19] sajo-ebi commented on #703
@Santhi1901 can you confirm where are you checking this because in Depo Curation DB I see no traits are mapped to GCST "GCST90091795"

[2022-04-21 17:16] Santhi1901 commented on #687
This can be closed.

[2022-04-22 08:32] Santhi1901 commented on #703
@sajo-ebi This was done before we started adding reported traits in the depo-curation app. All the traits were added in the curation app at that time. In the UI all the traits are looking fine (https://www.ebi.ac.uk/gwas/publications/34610981), only in the downloaded file this special characters are visible

[2022-04-22 09:15] buniello commented on #640
@sajo-ebi @buniello the current pre-published sumstats download still has the "NA" entries for Guodjonsson

[2022-04-22 10:42] earlEBI commented on #683
Attempting to assign EFO for https://www.ebi.ac.uk/gwas/depo-curation/submissions/61f95e4b2101880001cfee2e

Uploaded [https://app.zenhub.com/files/2995118/59b4330c-4553-47aa-bafe-6b7f7b4e75dc/download](https://app.zenhub.com/files/2995118/59b4330c-4553-47aa-bafe-6b7f7b4e75dc/download)

2 EFO did not map, see error report:

[https://app.zenhub.com/files/2995118/4ca780a9-ec69-49c3-aae4-1e6147dfb1c9/

[2022-04-22 11:19] earlEBI commented on #683
solved by copying and pasting the study tag from the report with special characters, eg: Ôªøhospitalized vs negative/unknown

[2022-04-22 12:40] jdhayhurst commented on #699
- copied latest jar to software dir on codon (this needs automating from ci/cd)
- using gwas-snoopy solr instance in props (this needs updating to gwas-garfield when ready)
- running solr export... (it is working)

[2022-04-22 13:23] ljwh2 opened #704 "Change title of submission"
User request to change the title of submission 612cef836d0dd70001e4baeb
https://www.ebi.ac.uk/gwas/deposition/submission/612cef836d0dd70001e4baeb

to "Genetic analysis of over half a million people characterises C-reactive protein loci"

[2022-04-22 13:28] ljwh2 commented on #694
Noting this (link & text) needs changing on the create submission page as well
![Screenshot 2022-04-22 at 14.27.04.png](https://images.zenhubusercontent.com/5e57ecb5d0668b3a20e94b9e/a7541b1c-565e-418d-8ebb-5b2dfc4928f8)

[2022-04-22 13:45] ljwh2 opened #705 "Glitchy login to deposition app"
Sometimes the login screen for the deposition app redirects to a blank tab, reported by user of Firefox in this ticket:
https://helpdesk.ebi.ac.uk/Ticket/Display.html?id=580062

I have noticed in Safari & Firefox after the login screen the tab closes completely.

[2022-04-22 14:32] earlEBI opened #706 "Bulk unpublish studies for PMID 35213538"
Please unpublish all studies for PMID 35213538 so I can update EFO and republish before the next DR

[2022-04-22 14:38] sajo-ebi commented on #706
@earlEBI the Pmid has been unpublished , kindly confirm

[2022-04-22 16:02] jdhayhurst commented on #699
- codon solr indexing failed after successfully indexing ~1000 publications: http://gwas-gromit:8085/browse/GWAS-DRC-GSE-38/log.
- The a job failed due to:
[code]

[2022-04-22 16:20] jdhayhurst commented on #698
Completed:
- cleaning data dir
- calling solr slim indexer
TODO:
- update schema ...
- copy solr data to VM

[2022-04-25 14:15] Santhi1901 opened #707 "Import in progress for submission id: 612734b609113d0001bb5b35"
The submission was in import in progress: https://www.ebi.ac.uk/gwas/curation/submissions/612734b609113d0001bb5b35

[2022-04-26 08:43] earlEBI commented on #706
@sajo-ebi thank you! please republish all studies from this pmid except for '95284419' which should remain 'requires review', before the next DR.

[2022-04-26 12:45] buniello opened #708 "New links added/updated on GWAS methods page in UI - software release needed"
I have updated a couple of links on this Catalog page: https://www.ebi.ac.uk/gwas/docs/methods/curation
- CIA factbook link
-ancestry page link

These have to be released to UI with next software release.

[2022-04-26 14:33] jdhayhurst commented on #699
- reran and 4200 completed, 1500 failed - all because of database connection refused.
- contacted DBA - bumped up the available number of processes from 500 to 1000 for SPOTREL
- rerunning

[2022-04-26 14:36] jdhayhurst commented on #698
The solr slim update code is bound to the concept that it is run on a machine that can see the solr vm. This is not the case from codon.

[2022-04-26 15:55] buniello opened #709 "Bulk unpublish 141 entries from Lotta PMID 33414548 to add associations"
I need to add associations to an old big submission - Lotta et al 33414548.
List of GSTSs are here: http://ves-ebi-e4.ebi.ac.uk:8080/gwas/curation/publication/33414548

[2022-04-27 08:37] sajo-ebi commented on #480
Goci has been deployed successfully in Gwas-snoopy using Bamboo & on Dev2 branch , now pending items is for staging & Prod server

[2022-04-27 10:33] sajo-ebi commented on #709
Unpublished , @buniello please confirm

[2022-04-27 12:36] earlEBI commented on #706
done, thank you

[2022-04-27 12:50] Santhi1901 commented on #700
I also encountered the same problem with the submission (https://www.ebi.ac.uk/gwas/depo-curation/submissions/626937ff28d70900018d243a). The new EFO list uploaded is not replacing the old ones. The downloaded report shows the EFO replaced, but it is not being reflected when you click on the study or here https://www.ebi.ac.uk/gwas/curation/submissions/626937ff28d70900018d243a

[2022-04-27 15:31] jdhayhurst commented on #699
Tidied up the parsing of the response from the cluster: https://github.com/EBISPOT/gwas-utils/tree/lsf_check

[2022-04-27 16:21] ljwh2 opened #710 "Presentation of error report produced on assigned traits to studies needs improvement"
When assigning traits to studies, after uploading the template curators want to be presented with a message informing them whether the upload was successful for all studies or not. If unsuccessful for any study, the message should state the upload had errors and prompt the curator to review the report.

[2022-04-27 16:24] ljwh2 opened #711 "Trait assignment error report has incorrect header"
Upon assigning EFOs or reported traits to studies,  a downloadable report is generated. This report has “accession” as a column header where it should read “study tag”.

[2022-04-27 16:27] ljwh2 opened #712 "Assigning traits to studies produces unexpected error"
Sometimes assigning traits to studies fails for no apparent reason and returns the error message “an unexpected error occurred”, which blocks curators from proceeding with curation of the publication. This can sometimes be fixed by logging out and in again, or trying again later.

[2022-04-27 16:33] ljwh2 opened #713 "EFO and reported trait should be assigned to studies in a single action"
When assigning trait to studies, curators need to be able to assign both EFOs and reported traits in the same template, in order to maximise efficiency. The process should allow assignment of either EFOs, or reported traits, or both.

[2022-04-27 20:21] buniello commented on #709
Hi @sajo-ebi @ljwh2 - I have re-uploaded the submission form with the associations for Lotta et al and as a consequence, all the GCSTs have changed. They are not the ones originally published in the Catalog with the Lotta sumstats: https://www.ebi.ac.uk/gwas/publications/33414548

We cannot re-publish these studies with different GCSTs as they were originally linked to the author submission of sum

[2022-04-28 10:09] buniello commented on #709
We decided to publish all the Lotta studies again from curation app (GCSTs are still correct in curation app) and look at this GCSTs overwrite issue after DR has started.

[2022-04-28 10:53] buniello opened #714 "Investigating change of GCSTs after re-curation for Lotta et al - PMID 33414548"
After re-curation (adding associations) for Lotta PMID 33414548, submission ID 5f840f4702f2a50001f1b51b,
the GCSTs have changed.

Studies from Lotta are all already published in the Catalog with sumstats - therefore GCSTs should be kept.
https://www.ebi.ac.uk/gwas/publications/33414548

Moreover, this is not a new submission but re-curation of an author submission - so GCSTs should not change as p

[2022-04-28 15:13] Santhi1901 commented on #691
@ala-ebi   I've made some new comments in the spreadsheets. For EFO_0020867, Zoe made a comment that "when running tests I've found that EFO_0020867 is in the GWAS system (downloaded from https://www.ebi.ac.uk/gwas/api/search/downloads/trait_mappings) as http://www.ebi.ac.uk/EFO/EFO_0020867 twice, which is causing EFO to fail. Is there any chance that this can be updated to http://www.ebi.ac.uk/ef

[2022-04-28 16:21] jdhayhurst opened #715 "setup github repo for technical spec of sumstats standard"
like this https://github.com/samtools/hts-specs but for the sumstats standard

[2022-04-29 10:19] ala-ebi commented on #702
fixed an error where having an expired session keeps giving 'Unexpected error'. now displays an alert redirects to login page

[2022-05-03 13:55] buniello opened #716 "Changing access permission on two sumstats folders so that they are not visible to public anymore"
A user email made us realise that two studies in the Catalog are wrongly linked to sumstats.
I have unticked the full pvalue box for these; however, we should also change permissions to the folders ASAP so that they are not visible to the public - given that the next DR will happen later in time.

http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST005001-GCST006000/GCST005885/

http://

[2022-05-03 15:48] ljwh2 commented on #521
Updated with comments as we now have a second CNV submission in the pipeline, and the first is published

[2022-05-04 10:02] #672 closed

[2022-05-04 10:06] sprintell commented on #707
@Santhi1901 could you please help confirm if this is done ?
Thanks

[2022-05-04 10:07] #716 closed

[2022-05-04 10:08] #709 closed

[2022-05-04 10:09] #687 closed

[2022-05-04 10:14] #526 closed

[2022-05-04 10:19] #706 closed

[2022-05-04 10:23] sprintell commented on #640
Waitin for the next data release

[2022-05-04 10:25] sprintell commented on #697
we need to remove from cron tab and add spring scheduler so it can run off anywhere by itself

[2022-05-04 11:45] Santhi1901 commented on #707
this is completed

[2022-05-04 11:52] ljwh2 commented on #691
Looks like most of these will be fixed after next EFO & OLS data release (which is dependent on the server migration)

[2022-05-04 11:58] ljwh2 commented on #694
Confirmed changes visible in production.

[2022-05-04 11:58] #694 closed

[2022-05-04 15:29] ljwh2 opened #717 "Add banner to alert users to delayed data release"
We should add a banner to the GWAS Catalog website alerting users to the delayed data release.

Suggest the text could be:

We could then link to either the tweet https://twitter.com/GWASCatalog/status/1521864658826797059
or add the following text to the blog page:

Due to infrastructure issues we are unable to release new data to the GWAS Catalog website until approximately 23 May 2022. The submi

[2022-05-05 12:43] ljwh2 opened #718 "Add links to Open Targets Genetics and PGS Catalog from study pages"
These exist on trait pages but not study pages.
Link from Gene page to targets n the portal. Annalisa thinks no point in linking to platform at the moment.

[2022-05-06 11:19] ar-ibrahim opened #719 "Duplication of SNPs when uploading template in Curation app for GCST90085780"
SNP entries are duplicated when uploading template in Curation app. This consistently occurs even when using a new template for the upload.

![image](https://user-images.githubusercontent.com/97462656/167121728-c914638d-5b47-456c-bf20-c97471a2be1e.png)

https://www.ebi.ac.uk/gwas/curation/studies/95477043/associations

[2022-05-06 15:44] sajo-ebi opened #720 "Fix Obsolete Traits in Curation DB"
These are the new Traits mappings for the obsolete traits provided by Zoe, which needs to changed in Curation DB

http://www.orpha.net/ORDO/Orphanet_2573 -> MONDO_0016820
http://www.orpha.net/ORDO/Orphanet_1253 -> MONDO_0007198
http://www.orpha.net/ORDO/Orphanet_130 -> MONDO_0015263
http://www.orpha.net/ORDO/Orphanet_101997 -> MONDO_0003778
http://www.orpha.net/ORDO/Orphanet_98896 -> MONDO_0010679

[2022-05-06 16:43] sajo-ebi commented on #720
@ljwh2 the above EFO traits are not present in DB , need the curators to add them using new Depo Curation feature so that we can map the new traits

[2022-05-09 09:12] earlEBI commented on #720
@sajo-ebi I have added all the MONDO terms. The EFO and HP term already existed.

Are you able to delete the orphanet terms from the db when you are done remapping or should I?

[2022-05-09 11:06] sajo-ebi commented on #714
@buniello the GCST have been updated for the submission [5f840f4702f2a50001f1b51b](https://www.ebi.ac.uk/gwas/deposition/submission/5f840f4702f2a50001f1b51b), kindly validate

[2022-05-09 11:13] sajo-ebi commented on #720
@earlEBI I will have yo unlink all studies & associations then only we can delete the orphaned traits , i will do that from backend

[2022-05-09 11:57] buniello commented on #714
Thank you @sajo-ebi - all looks good!

[2022-05-09 15:10] buniello commented on #714
@sajo-ebi I have checked the GCSTs and their links with study tags do not match with the ones already published in Lotta: https://www.ebi.ac.uk/gwas/publications/33414548.
I have shared a file with all the specific matches with you on slack, so that you can check all links.

[2022-05-11 09:18] sajo-ebi commented on #479
Have tried to execute FIle export , but failed due to EFO traits mapping issue , have to trigger Data Release again

[2022-05-11 09:47] eks-ebi commented on #635
Author has resubmitted, but the submission is stuck on template validation:
https://www.ebi.ac.uk/gwas/deposition/submission/625012423f3b3d0001d45c08

[2022-05-11 14:16] ljwh2 commented on #712
This was due to Life Science login timing out, @ala-ebi fixed

[2022-05-11 14:16] #712 closed

[2022-05-11 14:51] ljwh2 commented on #704
Confirmed, thanks

[2022-05-12 12:51] ljwh2 opened #721 "Add column to associations download to distinguish OR from beta"
Several users including Ensembl have asked for an easier way to distinguish OR and beta in the associations download. We should add a column to the associations download called "Effect size type" which states OR or beta.

This could be done at the same time as adding a column for sumstats in the studies file, and improving the v3 downloads.

[2022-05-12 13:34] buniello opened #722 "Replacing a sumstats file on the public FTP and pushing the file through harmonisation pipeline."
The user Holger Hummerich contacted us to update his summary statistics file on the public FTP in this folder: http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90001001-GCST90002000/GCST90001389/.

The new file is currently on our private FTP in a folder named "JonesE_GCST90001389" (gwas_cat/SummaryStatsUploads/JonesE_GCST90001389) and needs to be moved to http://ftp.ebi.ac.uk/pub/da

[2022-05-12 15:51] ljwh2 opened #723 "Create GitHub repo to contain documentation on new Sumstats standard"
This will contain the content of the paper and some example files. We will open this for public comment for a fixed time period. In future we will update with latest versions.

[2022-05-13 08:26] buniello commented on #496
SUHRE et al -- splitting completed.

[2022-05-13 09:39] eks-ebi opened #724 "Open PMID 35074870 for submission of additional sumstats files"
The PMID is 35074870 and the original submission was for Metadata and Sumstats. The author originally submitted 3 studies but only provided sumstats for 1/3. They have now provided sumstats files for the remaining 2 studies, and I (@eks-ebi) have them on my computer ready to upload.

Original submission page is: https://www.ebi.ac.uk/gwas/deposition/submission/61d8b18a06ff20000194a0c0

The publica

[2022-05-16 14:46] ljwh2 opened #725 "Submission to be forced through validation"
Submission GCP000324 from user Tomas Fitzgerald needs forcing through validation: https://www.ebi.ac.uk/gwas/deposition/submission/625fbac60b24d90001d13a21

James left instructions on how to do this (issue 2 on this page: https://www.ebi.ac.uk/seqdb/confluence/pages/viewpage.action?spaceKey=GOCI&title=Sumstats+common+issues%2C+FAQ+and+troubleshooting+advice)

[2022-05-17 07:35] ljwh2 commented on #521
Notes, current CNV submissions are GCP000324 and PMID35240056

[2022-05-17 07:50] sprintell commented on #723
The Documentation Github Repository has been created:

https://github.com/EBISPOT/gwas-summary-statistics-standard

[2022-05-18 07:57] ljwh2 commented on #691
@Santhi1901 please could you check these again when our data release is out?

[2022-05-18 08:36] ljwh2 commented on #677
More notes are here: https://docs.google.com/document/d/1Yvui2q7CDx0X8PHg3TWm_6nGf28laFSeooukGBr9gLE/edit?usp=sharing Robert confirmed the mouse to human gene mapping data is now available in the API

[2022-05-18 08:42] ljwh2 commented on #683
@earlEBI is this an ongoing problem?

[2022-05-18 08:42] earlEBI commented on #683
@ljwh2 I've not seen it again.

[2022-05-18 08:44] ljwh2 commented on #692
closing as duplicate of #713

[2022-05-18 08:44] #692 closed

[2022-05-18 08:46] ljwh2 commented on #684
@earlEBI @eks-ebi has this been fixed by the login timeout issue?

[2022-05-18 08:49] buniello commented on #640
@ljwh2just a reminder that this should be checked after next DR

[2022-05-18 08:54] earlEBI commented on #684
I just tried a small file and it did work although it took about a minute for 5 traits. Not sure if the threshold is maybe set too low.

[2022-05-18 09:18] earlEBI opened #726 "user submission - PMID 27527254 - stuck validating for over a month"
We received a gwas-subs email from the user as this submission has been validating for over a month:
https://www.ebi.ac.uk/gwas/deposition/submission/62415519daacef000127f031

Could the submission be reset and/or resubmitted by us as soon as possible?

[2022-05-18 09:37] ljwh2 commented on #714
@buniello please confirm if this can be closed?

[2022-05-18 09:38] #699 closed

[2022-05-18 09:40] #720 closed

[2022-05-18 09:40] #698 closed

[2022-05-18 09:41] #707 closed

[2022-05-18 09:42] #676 closed

[2022-05-18 09:48] #715 closed

[2022-05-18 09:51] ljwh2 commented on #489
decided not to to this at the moment as we are not loading data until new technology is implemented

[2022-05-18 09:57] ljwh2 commented on #722
The priority is moving the file to the public ftp, harmonisation can wait for Jame if necessary

[2022-05-18 10:09] ljwh2 commented on #702
@eks-ebi to review

[2022-05-18 10:12] eks-ebi commented on #713
see also, comment in https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/670

[2022-05-18 10:18] ljwh2 commented on #684
@earlEBI Could you please create a new ticket for that? I will close this one

[2022-05-18 10:18] #684 closed

[2022-05-18 13:27] eks-ebi commented on #702
Discussed with @ljwh2 today: suggest that errors related to the file as a whole be reported as on-screen error messages in the UI:
1. File does not have .tsv extension
2. File does not have expected headers
3. File does not have the expected number of rows/columns (e.g. not "square", space used instead of tab etc.)
4. ...

If there is one or more errors at the study level (assigned trait does not

[2022-05-18 14:43] buniello commented on #722
thanks yomi - we should remember that for a period of time we will host raw and harmonised files not matching 100% (the harmonised file is from previous version of sumstats)

[2022-05-19 10:18] earlEBI opened #727 "Ensembl mapping pipeline - incorrect Y-RNA mapping"
From gwas-info:

"I downloaded the catalog data from your website (gwas-association-downloaded_2022-05-19-EFO_0000729.tsv) and unfortunately recognised, that all occurrences of the gene name Y_RNA are mapped to ENSG00000199357, which is at least in most cases most unlikely (there are several Y_RNA genes across all chromosomes)."

Searching Ensembl I can see ENSG00000199357 is on chr18: https://www

[2022-05-19 12:17] earlEBI commented on #727
follow-up email from user:
"it is also true for the gene SNORD116 which is currently mapped to ENSG00000252985 on chr 9 instead of the correct gene ENSG00000212553 on chr 13."

[2022-05-20 14:20] buniello commented on #637
The user Dan Bolser asked for an update on this on Fri 20-05-22

[2022-05-23 09:25] earlEBI opened #728 "Bulk unpublish PMID 33875891 - to be republished before the next DR"
Please unpublish all studies for PMID 33875891 from the Catalog.

I will then add associations and ask for it to be republished before the next DR

[2022-05-24 08:13] ljwh2 opened #729 "LocusZoom plot failing to load properly"
The LocusZoom plot is displayed on the trait page e.g. https://www.ebi.ac.uk/gwas/efotraits/EFO_0000384, and plots all associations for that trait according to their genomic location, and coloured according to the parent category on the GWAS Diagram.

Today the LZ plot is very slow to load (can take several minutes) and all associations are listed as "Trait category undefined". See example in scre

[2022-05-24 08:15] ljwh2 opened #730 "LD plot not loading"
The LD plot on the variant page (e.g. https://www.ebi.ac.uk/gwas/variants/rs2249296) is not loading. Unclear whether this is associated with the last data release.

![Screenshot 2022-05-24 at 08.54.14.png](https://images.zenhubusercontent.com/5e57ecb5d0668b3a20e94b9e/d4e3edbe-58f0-4a0b-9439-8cca1edd513d)

[2022-05-24 08:28] ljwh2 commented on #640
Prepublished table still contains NA entries for this publication after the DR. Closing this ticket and opening a new one to focus on that issue.

[2022-05-24 08:39] ljwh2 opened #731 "Erroneous rows in prepublished sumstats table in search UI"
In the prepublished sumstats table (on this page: https://www.ebi.ac.uk/gwas/downloads/summary-statistics) there are many rows that appear with NA in first author and title. Looks like these studies are all associated with the same submission which is now published with PMID 35078996 and so should not appear in the pre-published table anymore. The same studies also appear correctly in the UI as pu

[2022-05-24 09:18] ljwh2 opened #732 "Outgoing curator access"
Please remove Annalisa's access to curation & deposition apps and any relevant file permissions.

[2022-05-24 09:20] ljwh2 opened #733 "SNP Mapping pipeline issues"

[2022-05-24 10:06] sajo-ebi commented on #479
DR has been successfully migrated to Codon & till now data looks good

[2022-05-24 14:22] Santhi1901 opened #734 "Replace sumstat file in the FTP"
The user Saredo Said requested to replace his sumstat in the FTP http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90029001-GCST90030000/GCST90029070/

with corrected one which is placed in the dropbox

https://www.dropbox.com/scl/fo/dcaho6g8tsezs5m20ob93/h?dl=0&rlkey=rklwwnfgoone4eubahudgo8vi

[2022-05-24 14:24] ala-ebi commented on #730
LD plot not loading cause EBI proxy times out the request after some time. the request takes too long to finish cause it makes calls to OLS which is currently unusually slow

[2022-05-24 15:37] earlEBI opened #736 "Change GCST for user submission Jami PMID 35378236"
This submission 'https://www.ebi.ac.uk/gwas/deposition/submission/616d86e9921d1b0001ed6591' was originally assigned GCST90054778 but after editing in the depocuration app was assigned GCST90102284 so sumstats are no longer connected in Catalog UI.

Please change GCST back to GCST90054778 with sumstats published and then do a data release.

[2022-05-25 16:27] earlEBI opened #737 "Update Backman EFOs - PMID 34662886"
I need to update EFOs for 256 studies from the same publication.

I was wondering if this could be done by developers without having to unpublish and republish all 7000 studies?

Trait mapping for the associations within the studies would also need updating.

Here is a table of the studies including study tag, reported trait, mapped trait and mapped background trait.
Some of the EFOs are separated

[2022-05-26 14:48] jdhayhurst commented on #725
passed validation for submission, callback id: `h2DDmaG8`
will release manually, need to bypass harmonisation

[2022-05-27 07:41] earlEBI commented on #734
commenting so I can follow this and email user when correct sumstats are released.

[2022-05-27 14:05] sajo-ebi commented on #728
@earlEBI done , kindly confirm.

[2022-05-27 14:16] jdhayhurst commented on #725
added files to FTP staging server, but not the harmonisation pipeline

[2022-05-27 16:36] sajo-ebi commented on #731
Hi @ljwh2 we have to manually delete the entries from Unpublished studies from Curation DB & then Data Release needs to be done . Kindly confirm if we can delete all entries from unpulished studies which share the GCST with PMID '35078996'.

[2022-05-30 07:40] earlEBI opened #738 "reopen PMID 34906840 for sumstats and metadata submission"
A curator created a submission for PMID 34906840, submission id '624c4fb33f3b3d0001d42caf' but the author has contacted us to submit summary statistics and it would be best for them to also submit metadata.

Please reopen the PMID so the external user can create a fresh submission as soon as possible .

[2022-05-30 10:53] jdhayhurst commented on #723
created the content and committed to a "draft" branch

[2022-05-30 15:36] sajo-ebi commented on #724
@eks-ebi None of the studies have been added for pre-filled template ,this is normally done using Depo Sync but even for the existing single study , we need to manually add entries for all 3 studies in pre-filled template

[2022-05-30 16:57] Santhi1901 commented on #516
@sajo-ebi yes I modified the entries in depo-curation app and need to import these to curation DB

[2022-05-31 09:41] earlEBI commented on #728
@sajo-ebi Thanks Sajo, done. could you please change all except study id '80521241' back to
Curator status: 'publish study'
and
Curator: 'GWAS Catalog' ?

[2022-05-31 10:07] sajo-ebi commented on #728
@earlEBI done , please validate

[2022-05-31 10:10] earlEBI commented on #728
@sajo-ebi sorry, study '80521241' has been published but needs to stay 'requires review' and 'unassigned'. I don't seem to have the option to unpublish - could you?

[2022-05-31 10:30] sajo-ebi commented on #728
@earlEBI Unpublished the study , Kindly validate.

[2022-05-31 10:34] earlEBI commented on #728
@sajo-ebi great thanks!

[2022-05-31 11:53] Santhi1901 commented on #516
@sajo-ebi It was successfully imported. Thanks Sajo

[2022-05-31 13:16] sajo-ebi commented on #690
@ljwh2 the corresponding author information in Search UI is same as first author so to make the change will have to edit first author inform , kindly confirm if that will be fine

[2022-05-31 16:23] sajo-ebi commented on #736
Updated in Curation DB , need to wait for DR to reflect

[2022-06-01 09:16] #480 closed

[2022-06-01 09:28] #481 closed

[2022-06-01 09:28] #603 closed

[2022-06-01 09:32] #701 closed

[2022-06-01 09:38] sprintell commented on #724
@sajo-ebi will finish this up

[2022-06-01 09:40] #516 closed

[2022-06-01 09:40] jdhayhurst commented on #723
TODO: create github pages

[2022-06-01 09:46] sprintell commented on #690
@ljwh2  from our conversatiom on this, it seems we wil be more consistent and clearer to the users if we remove the corresponding Author Field in the public facing catalog

[2022-06-01 09:54] sprintell commented on #714
@eks-ebi  please help check this. Thanks

[2022-06-01 09:55] #726 closed

[2022-06-01 09:59] sprintell commented on #722
@jdhayhurst  Please finish up by adding to harmonisation pipeline

[2022-06-01 10:19] sprintell commented on #496
@jdhayhurst  will finish this up

[2022-06-01 10:33] sprintell commented on #691
waiting for our next DR

[2022-06-02 15:00] eks-ebi commented on #714
@sprintell Annalisa's last comment seems to be saying that the GCSTs now in the GWAS Catalog **do not** match the GCSTs that the author has cited in their paper. However, I have checked it and the GCST range that we are currently using  **does** seem to match what the author has cited.

In the paper, they say:

This is the same range of GCSTs listed in the study table here: https://www.ebi.ac.uk/g

[2022-06-06 09:37] earlEBI opened #739 "update prepublication submission information - user request"
Following an email via gwas-subs, please update the following information for the user, for submission id '610e3efad0e96f0001dfb411':

"
The title and abstract have changed slightly during review. Lastly, I just noticed that one of the corresponding author's name is incorrect - it should be Eric Moses, not Eric Eric.

Please see the updated details below.

Title: Comprehensive genetic analysis of

[2022-06-06 09:41] earlEBI opened #740 "Update prepublication submission - link to medRxiv paper"
Following an email on gwas-subs, please add the link to the prepub paper (https://www.medrxiv.org/content/10.1101/2022.05.27.22275343v1) to the submission '628d25f48b8c550001f59a1c'.

[2022-06-06 14:39] sajo-ebi commented on #714
[https://app.zenhub.com/files/2995118/f7e1bb83-e8f4-48ee-a6ed-90aeda977725/download](https://app.zenhub.com/files/2995118/f7e1bb83-e8f4-48ee-a6ed-90aeda977725/download) @eks-ebi this is the file shared by Annalisa

[2022-06-06 15:04] eks-ebi commented on #714
Thanks @sajo-ebi... I don't quite understand how to read this file, since there are no headers. But it looks like the same set of GCSTs have been assigned to the studies in two different orders at different times. What I don't know is whether that affects the summary statistics files. i.e. are the sumstats files still matched to the correct study tags, but with the GCSTs reordered? Or could the su

[2022-06-06 17:48] ljwh2 commented on #690
@sprintell I don't totally understand the issue here. Is it not possible for a submitter to enter a first author? Then what is being displayed as first author in the search UI?

[2022-06-07 07:55] eks-ebi commented on #690
@ljwh2 to fill you in from last week's meeting, the current problem is that in the Search UI, in the field labelled Corresponding Author, we are not actually displaying the Corresponding Author entered by the submitter when they create a body of work. At the moment we are mistakenly displaying the First Author in that field. That's why, even though the corresponding author for this body of work ha

[2022-06-07 08:04] ljwh2 commented on #690
thanks @eks-ebi
Agree to remove the corresponding author field as a quick fix, but we should prioritise displaying it properly, it's the kind of thing that's important to users, especially for the pre-published data when there isn't so much to tie a submission to the team that generated it. @sprintell @sajo-ebi

[2022-06-07 08:08] ljwh2 commented on #725
When will the data be released to production @jdhayhurst?

[2022-06-07 08:15] jdhayhurst commented on #496
Suhre has been completed. The rest are outstanding (will require curation)

[2022-06-07 08:17] earlEBI commented on #496
I will be doing these. I'm just waiting on some EFOs being created for Shin at the moment.

[2022-06-07 09:14] ljwh2 commented on #640
Adding a comment that the submission for Gudjonsson (GCP000257) seems to have been deleted entirely from the database. It is not accessible in depocuration for editing. This means curators cannot update the traits.

[2022-06-07 09:30] eks-ebi commented on #724
@sajo-ebi Can you please create a prefilled template for me containing information about all 3 studies, as discussed? The information you will need is in the Catalog here: https://www.ebi.ac.uk/gwas/publications/35074870

[2022-06-07 09:48] eks-ebi commented on #714
Checked GCSTs, study tags, traits and sumstats file names in Search UI and Curation interface, and all seem to be correctly assigned in both places. Agreed to close ticket.

[2022-06-07 09:48] #714 closed

[2022-06-07 10:15] ljwh2 opened #741 "GWAS Catalog Download file issues"
There are several small issues with data display/population in the whole-Catalog file downloads https://www.ebi.ac.uk/gwas/docs/file-downloads

[2022-06-07 10:23] ljwh2 opened #742 "Number of cases and controls not being populated"
Comment from Daniel S:

Are the columns “NUMBER OF CASES”, “NUMBER OF CONTROLS” manually filled? Because however the initial sample description and replication sample description are filled, but the parsed out fields are null [4]. We use a function to parse out these values but I would love to phase out this logic.

Note, we need to consider the impact on old studies that were not curated through

[2022-06-07 10:26] ljwh2 commented on #685
Now resolved

[2022-06-07 10:27] #652 closed

[2022-06-07 11:08] jdhayhurst commented on #722
removed existing harmonised data and queued up the new data for harmonising

[2022-06-07 11:11] jdhayhurst commented on #725
The summary stats files are there e.g. http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90103001-GCST90104000/GCST90103375

[2022-06-07 11:13] jdhayhurst commented on #734
Do these need to be validated and harmonised?

[2022-06-07 12:32] ljwh2 commented on #734
@jdhayhurst Yes

[2022-06-07 14:00] jdhayhurst commented on #723
page created: https://ebispot.github.io/gwas-summary-statistics-standard/
links should work/content should update when push the draft branch to master

[2022-06-08 09:11] jdhayhurst commented on #734
I've updated the file, but it isn't valid.

[2022-06-08 09:13] eks-ebi commented on #690
@eks-ebi inform this user once find has been removed

[2022-06-08 09:13] eks-ebi opened #743 "Remove corresponding author field from unpublished study page in Search UI"
The corresponding author field currently displays the first author instead, so should be removed to avoid displaying incorrect information. In future, we should correctly display corresponding author information.

[2022-06-08 09:19] eks-ebi commented on #635
@eks-ebi follow up with author - missing p-values in new sumstats files

[2022-06-08 10:42] Santhi1901 opened #744 "Change the study tag in sample sheet (Submission id: 5f58f4d2fa551c0001ca61dc)"
Need to change the study tag in the sample sheet from **Type 2 diabetes** to **type 2 diabetes** to match the study sheet.

[2022-06-08 11:03] ljwh2 commented on #734
@Santhi1901 could you please run the validator on the file and find out what the problem is?

[2022-06-08 13:34] eks-ebi opened #745 "Improve documentation for SNP context / most severe consequence"
*This is a documentation task for curators to complete*

Add explanation of the CONTEXT column in the download and the Most Severe Consequence field in the search UI (variant page) in tooltip and/or on documentation pages.

This information comes from Ensembl and is explained in detail on their website: https://www.ensembl.org/info/genome/variation/prediction/predicted_data.html#consequences

[2022-06-08 13:44] jdhayhurst opened #746 "release sumstats for callback LEixt5ef"
these were only partially released for some reason, but they all need releasing (there are about 1800 files).

[2022-06-08 13:53] jdhayhurst commented on #746
Do not know why this happened but part way through publishing the studies, the process terminated. Not possible to restart so I identified those that were remaining (had not published) and manually published them.

[2022-06-08 15:11] ljwh2 opened #747 "Update the GDPR notice for deposition app and add to About page"
Laura needs to update the GDPR notice for deposition app (lchange from consent to legitimate use according to Aoife).

Then update the About page to include deposition.

[2022-06-08 20:07] ljwh2 opened #748 "GCSTs appearing incorrectly or in the wrong place"

[2022-06-08 20:07] #748 closed

[2022-06-08 20:09] ljwh2 opened #749 "GCSTs appearing incorrectly or in the wrong place"

[2022-06-08 20:34] ljwh2 opened #750 "Deleted GCSTs appearing in download files"
Some GCSTs can be found in various places in the Catalog that do not correspond to any publicly available study.

[1] GCST90102290-GCST90102430. These are visible in the unpublished ancestry download*, and the unpublished sumstats table in the UI, with NA in the author and title. Looks to me (based on date and traits)   like these are from the Lotta submission, the one where Annalisa changed the s

[2022-06-08 20:37] ljwh2 commented on #744
Note, this is causing study to appear with no ancestry. Reported in Daniel's list gwas-info 27 May

[2022-06-08 20:58] ljwh2 opened #751 "Mystery GCST"
GCST90017149 is **not** indexed in the search UI and not in the studies download and yet it **is** listed in the unpublished sumstats table in the UI and in the unpublished ancestries download (downloaded 7th June 2022), and sumstats are available http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90017001-GCST90018000/GCST90017149/

The GCST can be found in submission 603383bdb13a9000

[2022-06-09 12:43] Santhi1901 commented on #734
I will check

[2022-06-09 12:54] Santhi1901 commented on #734
@jdhayhurst this is the error I got when I ran the validator. I didn't understand what the error is
  File "/hps/software/users/parkinso/spot/gwas/anaconda3/envs/ss-format/bin/ss-validate", line 8, in <module>
    sys.exit(main())
  File "/hps/software/users/parkinso/spot/gwas/anaconda3/envs/ss-format/lib/python3.7/site-packages/validate/validator.py", line 306, in main
    if not validator.valida

[2022-06-10 09:59] eks-ebi commented on #635
The user has corrected the errors and completed the new submission, and it passed validation yesterday. So this issue *seems* to be resolved.

However, there are some potential new issues:
1. For each of the 2 studies that were submitted by the author the first time around, there are now 2 different sumstats files, which could be misleading for users:
http://ftp.ebi.ac.uk/pub/databases/gwas/summar

[2022-06-10 11:40] sajo-ebi commented on #724
@eks-ebi the entries have been added for the pre-filled template for be populated for sumstats submission, kindly create a fresh sumstats submission

[2022-06-14 11:26] earlEBI opened #752 "Reported trait similarity analysis tool - too slow / unexpected error output"
I am still getting 'An unexpected error' returned when I upload a file to the Depocuration app similarity analysis tool.

Here is the tsv file I am trying to upload, uploaded here as a .txt file as zenhub allows:

[https://app.zenhub.com/files/2995118/93f72f48-81a5-4227-a1cd-564c8a6ec91f/download](https://app.zenhub.com/files/2995118/93f72f48-81a5-4227-a1cd-564c8a6ec91f/download)

If the issue is

[2022-06-14 12:38] Santhi1901 opened #753 "Change the study tag in sample sheet for submission 61afeffe911f5a000154cb74 (PMID:35637384)"
the study tag in the sample sheet needs to be changed from 'GWAS among Black' to 'GWAS among black' to match the study sheet. After importing to curation app, the sample description appears blank for this study. https://www.ebi.ac.uk/gwas/curation/studies/97362591/sampledescription

[2022-06-15 08:50] eks-ebi commented on #724
new files now available on ftp

[2022-06-15 09:10] #724 closed

[2022-06-15 09:11] sajo-ebi commented on #702
The code changes have been implemented & are currently being reviewed

[2022-06-15 09:14] sajo-ebi commented on #604
The changes have been deployed & running successfully from Codon & can be closed

[2022-06-15 09:14] sajo-ebi commented on #624
Code changes have been deployed in Prod

[2022-06-15 09:18] eks-ebi commented on #635
@eks-ebi check with submitter to ask which files we should keep

[2022-06-15 09:33] eks-ebi commented on #635
Note: harmonisation pipeline will need to be checked after the correct files are identified

[2022-06-15 09:36] ljwh2 commented on #690
Development story created #743

[2022-06-15 09:36] #690 closed

[2022-06-15 09:39] ljwh2 commented on #731
@sajo-ebi to check if there is a submission for this PMID. Confirm after DR.

[2022-06-15 09:40] earlEBI commented on #728
@ljwh2 can be closed, thanks

[2022-06-15 09:56] jdhayhurst opened #754 "remove symbolic links on ftp for sumstats"

[2022-06-15 10:37] #725 closed

[2022-06-15 10:37] #722 closed

[2022-06-15 10:37] #708 closed

[2022-06-15 10:38] ljwh2 commented on #697
@sajo-ebi please create development ticket for this and close this one

[2022-06-15 10:41] #728 closed

[2022-06-15 10:42] #640 closed

[2022-06-15 10:48] ljwh2 commented on #734
@jdhayhurst to check validation of the new file

[2022-06-15 10:48] #723 closed

[2022-06-15 12:32] earlEBI opened #755 "user request - reset sumstats-only submission"
A user submitted sumstats post-publication here (sumstats-only submission): https://www.ebi.ac.uk/gwas/deposition/submission/62942239164a74000167b4de

They then requested for these to be held back from release, so I unchecked the 'full p-value set' box in the Curation App. So these sumstats have never been released.

The user has now requested to replace the submitted sumstats file with a new vers

[2022-06-15 16:29] ljwh2 commented on #677
User story:
As a user of the GWAS catalog, when I search for a gene, I want to be able to access data for the mouse ortholog (equivalent gene) in IMPC. I want to access this via the most up to date mapping from IMPC, so this should be updated every time the GWAS Catalog releases data. The mapping is available via IMPC’s API.
The button should appear on the GWAS Catalog gene page (which is based on

[2022-06-16 10:31] sajo-ebi commented on #755
@earlEBI Have opened the Pmid for sumstats only submission , kindly confirm

[2022-06-16 10:39] earlEBI commented on #755
Thanks Sajo, I've let the user know. Will update if any problems.

[2022-06-16 17:10] ljwh2 commented on #677
We will need to get guidance on  how to retrieve the mapping from the IMPC API from Robert rwilson@ebi.ac.uk

[2022-06-20 09:04] eks-ebi opened #756 "Delete duplicate submission"

[2022-06-20 09:04] eks-ebi commented on #756
Delete `6261a3d06eeb12000130139b`

[2022-06-20 09:10] Santhi1901 opened #757 "Replace the sumstat for GCP000043 (PMID: 33204752)"
The user has requested to replace the sumstat for submission id: 5f529a8ef10d27000109a3bc.

The updated file is placed in https://www.dropbox.com/home/Butler-Laporte%20G_%20GCP000043

The submission has HLA allele in the rsid column and it needs to be manually pushed through

[2022-06-20 09:22] sprintell opened #758 "Migrate Nexus to new data centre"

[2022-06-20 09:33] #730 closed

[2022-06-20 09:36] #729 closed

[2022-06-20 09:52] ljwh2 opened #759 "Validation of study tags should be case-sensitive"
Metadata template upload currently allows case-insensitive entry of study tags, i.e. study tags can be entered with different cases in study tab and sample tab. This causes downstream problems (e.g. goci#744, goci #753)
as other parts of the submission/curation workflow that handle study tags are case-sensitive.

Metadata template validation should be updated to ensure study tags cannot be entered

[2022-06-20 16:14] eks-ebi commented on #635
Discussed with author (see RT: https://helpdesk.ebi.ac.uk/Ticket/Display.html?id=566111&results=1e5f17da461efa716915184955a0136c) and confirmed that older .tsv files should be discarded and the more recent .csv files should be kept.

I have now manually deleted the old files from the ftp.

[2022-06-22 09:13] eks-ebi commented on #635
@jdhayhurst could you please look at retriggering the harmonisation pipeline for this publication? Now that the extra sumstats files have been removed, it should be able to run as normal

[2022-06-22 09:23] sajo-ebi commented on #736
@earlEBI  can you confirm if it worked after  DR

[2022-06-22 09:35] sajo-ebi opened #761 "Deposition Sync Code changes to use Spring Scheduler"
Deposition Sync currently runs on the Crontab in VM , we need to make it trigger through Spring scheduler to avoid dependancy on VM Cron

[2022-06-22 09:37] sajo-ebi commented on #697
@ljwh2  goci#761 created as development story

[2022-06-22 11:05] jdhayhurst commented on #635
added to queue

[2022-06-22 15:33] jdhayhurst commented on #734
ok looks like the head row is space separated, while the rest of the file is tab separated. Aside from that there are some "-" values in the variant_id field that I assume are NA. Do you want me to make these changes?

[2022-06-22 16:00] jdhayhurst commented on #754
all links removed

[2022-06-23 09:16] Santhi1901 commented on #734
@jdhayhurst yes please

[2022-06-23 09:58] eks-ebi commented on #695
This hasn't been completed exactly according to spec above. See: https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/62b42888b18fd300019835ee

To meet the spec, Variant Count should be move down, after Imputation. Everything else is in the right place.

Accession
Study Tag
_(Variant Count)_
Genotyping Technology
Array Manufacturer
Array Information
Imputation
**<-Variant Count**
Statistical Mo

[2022-06-23 10:06] eks-ebi commented on #682
I am able to add individual EFOs to the right field in the side panel, e.g. https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/61e9424581051b000160458e

![Screenshot 2022-06-23 at 11.04.32.png]
(https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/baf7446a-055d-43ff-809d-fede97c4b3b0)

However, the new EFOs do not appear in the study table after I save them, so I don't know if they'v

[2022-06-23 10:15] eks-ebi commented on #711
tested and confirmed: column header has been correctly changed to "Study Tag" and contains the expected study tag data

[2022-06-23 10:20] eks-ebi commented on #682
Also, sometimes a study already has an EFO, which is displayed in the study tab table, e.g. https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/61dc6fa081051b0001edaf70

![Screenshot 2022-06-23 at 11.18.52.png](https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/d19ff677-33d3-4faf-99c0-cecf31c57fd0)

But when I click on the study, that EFO is not displayed in the field for individual

[2022-06-23 10:29] eks-ebi commented on #713
Tested for this submission: https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/602402ea0164810001f6720e

Template works well for efficient upload of Reported Trait and EFO Trait in a single action.

One issue: after uploading the template, the Reported Trait is displayed in the study tab table - this provides good feedback to the user that the uploaded data has been successfully assigned and

[2022-06-23 10:42] eks-ebi commented on #693
Tested: successfully assigned multiple EFO terms per line to studies: https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/61aa850c81051b0001ebf7aa

Assigning file example:
![image.png](https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/017b32b3-929b-45b5-bd4e-32bd8bc1f343)

Successful report:
![image.png](https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/c8755a4e-d1c1-49

[2022-06-23 14:16] sajo-ebi commented on #702
Changes have been deployed in Sandbox

[2022-06-23 14:17] sajo-ebi commented on #744
@Santhi1901 please confirm is it good to close

[2022-06-23 14:48] Santhi1901 commented on #744
@sajo-ebi yes it is resolved.

[2022-06-23 14:58] sajo-ebi commented on #753
@Santhi1901 please confirm if this has been resolved

[2022-06-23 15:03] Santhi1901 commented on #753
@sajo-ebi this issue is resolved

[2022-06-23 15:20] sajo-ebi commented on #731
@ljwh2 unfortunately there appears to be no submission attached to the PMID '35078996', we will have to submit a fresh submission via Deposition including the existing studies , this will change the GCST but we can update it from backend before importing the submission

[2022-06-23 15:25] ljwh2 commented on #731
OK thanks for the note and we will deal with this if the publication needs editing in the future.

[2022-06-23 16:00] sajo-ebi commented on #756
@eks-ebi The submission has been deleted , please confirm

[2022-06-23 16:05] eks-ebi commented on #756
Yes, confirmed @sajo-ebi, thanks!

[2022-06-24 11:02] jdhayhurst commented on #734
file has been formatted, replaced on FTP and added to harmonisation queue

[2022-06-24 11:05] Santhi1901 commented on #734
thanks James

[2022-06-27 10:48] earlEBI opened #763 "Display of Terms/Licence on GCST pages for PMID 30510241"
On the request of a user, please remove the link to the general terms of use which would usually be displayed here:

![Screenshot 2022-06-27 at 10.38.06.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/f4f86257-7b9f-44c2-a935-b36ab552e0a1
)

Instead, show 'Please refer to readme file' for all 5 studies with sumstats.

(note: the relevant studies have only recently been published

[2022-06-27 14:25] earlEBI opened #764 "change EFO short form to EFO name in studies table"
Change the EFO short form ID currently shown in studies table (eg. here https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/62b977ccb18fd3000165c468) to the EFO name label.
Eg. shown as EFO_0001666 should appear as 'aortic aneurysm'.

[2022-06-27 17:32] ljwh2 opened #765 "Blog post for new standard format"
Text for the blog post is here: https://docs.google.com/document/d/1kEBzqmzNXYa_zuFOafmkZmrWsddJR7brgaDI_X98FEY/edit?usp=sharing

The paper is now live so this needs to be posted asap, thanks

[2022-06-27 17:35] eks-ebi opened #766 "Unpublishing all 430 studies from Ruhlemann PMID 33462482"
All 430 studies need to be unpublished so that I can edit the submission in the depo-curation interface to add associations.

The reason for unpublishing should be
1 : Temporarily unpublished for editing

[2022-06-28 08:18] ala-ebi commented on #670
@eks-ebi I have a few questions:
1. Does this mean we should add another Background EFO trait column to the *Study | EFO | Reported trait* template?
2. Should the behaviour be the same as the STUDY-EFO assignment? Meaning the existing value will be overwritten by the new one (including an empty value).
3. Should we accept multiple background EFOs (pipe separated)?

[2022-06-28 08:28] eks-ebi commented on #670
@ala great questions!

1. Yes, I would add an extra _Background EFO_ column to the template
2. The behaviour should be the same: any existing value will be overwritten by the new one (including an empty value) - this will be especially important for background traits, as we often need to revise how we represent them and that might include removing the background trait entirely
3. Yes, we should ac

[2022-06-28 08:37] ljwh2 commented on #583
We will address mapping and validation separately, replacing this with other tickets

[2022-06-28 08:37] #583 closed

[2022-06-28 09:48] ljwh2 opened #767 "Change behaviour of deposition app wrt publications with sumstats for some but not all studies"
As a user, I want to be able to add sumstats to a publication that already has sumstats for some but not all of the studies, without having to contact the GWAS Catalog to manually reopen the publication for submission. [Note, we don’t want to allow users to add new studies, only new sumstats. This is to prevent them randomly adding data to old papers instead of creating a new submission].

Notes:

[2022-06-28 10:26] eks-ebi commented on #670
Oops!

[2022-06-28 11:05] sajo-ebi commented on #766
@eks-ebi done , kindly confirm

[2022-06-28 11:14] ljwh2 opened #768 "New feature for SNP validation"
User story: As a curator, when I upload associations in the Deposition or DepoCuration apps, I want SNP IDs to be validated against Ensembl (i.e. present or absent in Ensembl) and to see the outcome of SNP validation. This should serve as a “sanity check” to ensure there are no errors in SNP data entry (i.e. incorrect/truncated rsIDs, special characters etc).
I want the process to check variant ID

[2022-06-28 11:16] ljwh2 commented on #768
@eks-ebi Please advise where we want to display the outcome and create some mockups. Also could be useful to check what the current process in the curation app is and whether it still works.

[2022-06-28 15:11] #766 closed

[2022-06-28 16:02] jdhayhurst commented on #632
Removed the "IS_PUBLISHED" status from the logic

[2022-06-28 16:35] ljwh2 commented on #751
@jdhayhurst both these GCSTs GCST90017149 and GCST90013791 have sumstats, could you please check if they are identical before we delete GCST90017149?

[2022-06-28 16:37] ljwh2 commented on #719
@ar-ibrahim does this still need attention or did you manage to resolve it?

[2022-06-28 16:40] ljwh2 commented on #527
@earlEBI has this been handled correctly in the DepoCuration functionality?

[2022-06-29 08:32] ar-ibrahim commented on #719
I tried uploading a new template. I also tried entering the association manually. It's still duplicated every time. I checked the other studies in this PMID. This seems to happen only with this study. I tried to manually edit the row after uploading the association but the page keeps timing out.

Would it be possible to delete this study and make a new submission?

[2022-06-29 08:52] eks-ebi commented on #768
Mockups here: https://docs.google.com/presentation/d/1EqT7KFAcrf_MG31ngTYlivuPXM2XJ_980_nf6UsEn7M/edit#slide=id.p

[2022-06-29 08:52] #527 closed

[2022-06-29 08:55] ljwh2 commented on #768
@eks-ebi do we really want to load all the SNPs on the page? I was thinking of a message of success or failure, and if invalid SNPs were present you could download a report (similar to the trait functionality).

[2022-06-29 08:59] eks-ebi commented on #768
Current validation messages in the old curation interface, e.g. http://gwas-snoopy.ebi.ac.uk:9780/gwas/curation/studies/97056169/associations/getUploadResults

[2022-06-29 09:00] eks-ebi commented on #768
![Screenshot 2022-06-29 at 10.00.05.png](https://images.zenhubusercontent.com/5ebd0095cdca5a6323f696ae/76f85d8f-ff5e-4841-89e6-808568895a76)

[2022-06-29 09:02] eks-ebi commented on #768
@ljwh2 good point, happy to change it

[2022-06-29 09:17] #753 closed

[2022-06-29 09:19] ljwh2 commented on #731
Confirm after DR 29/6/22

[2022-06-29 09:19] #755 closed

[2022-06-29 09:23] sprintell commented on #763
@ljwh2 pls check this here: http://gwas-snoopy.ebi.ac.uk:9780/gwas/studies/GCST007856

[2022-06-29 09:28] jdhayhurst commented on #751
Can confirm that these are identical

[2022-06-29 09:37] #734 closed

[2022-06-29 09:55] ljwh2 commented on #632
Ok to release. Create new ticket for downstream work.

[2022-06-29 09:56] #624 closed

[2022-06-29 10:17] ljwh2 commented on #763
This is fine.

[2022-06-29 10:27] ala-ebi commented on #670
depocuration deployed, need to implement import

[2022-06-29 10:27] #702 closed

[2022-06-29 10:28] ljwh2 commented on #649
@earlEBI please confirm this is tested and ok

[2022-06-29 10:31] #764 closed

[2022-06-29 10:31] earlEBI commented on #648
@ljwh2 confirmed

[2022-06-29 10:31] earlEBI commented on #649
@ljwh2 confirmed

[2022-06-29 10:32] ljwh2 commented on #710
@eks-ebi please confirm

[2022-06-29 10:34] ljwh2 commented on #695
@ala-ebi to make final change

[2022-06-29 10:35] ljwh2 commented on #682
@eks-ebi to confirm

[2022-06-29 10:36] #711 closed

[2022-06-29 10:36] eks-ebi commented on #682
tested and working ok

[2022-06-29 10:37] #713 closed

[2022-06-29 10:37] #682 closed

[2022-06-29 10:37] #693 closed

[2022-06-29 10:37] #758 closed

[2022-06-29 10:40] #649 closed

[2022-06-29 10:41] #648 closed

[2022-06-29 10:41] #744 closed

[2022-06-29 10:45] #697 closed

[2022-06-29 11:11] ar-ibrahim commented on #700
Yes it worked. EFOs were overwritten.

[2022-06-29 11:16] ljwh2 commented on #768
Sajo suggested this should run in background on upload in deposition, but only visible to curations in deposition.

[2022-06-29 11:21] ljwh2 commented on #768
Yomi thinks the old curation all calls the variant endpoint in Ensembl

[2022-06-29 13:04] ala-ebi commented on #695
done

[2022-06-29 13:04] #695 closed

[2022-06-29 13:06] ala-ebi commented on #700
thanks for confirming @ar-ibrahim
I'll close the ticket

[2022-06-29 14:29] eks-ebi commented on #710
Tested today, and I would say this is done. When I upload the file, I get the message "Trait file was uploaded successfully."

If all traits have been assigned successfully, I get no message, but can now download the report if I want. I think this is sufficient to know that the trait assigning has worked for all studies.
When one or more traits failed to be assigned, I get this error message: "Rep

[2022-06-29 14:30] eks-ebi commented on #710
@ljwh2 If you're happy with that, then I think this ticket can be closed.

[2022-06-30 13:01] earlEBI opened #769 "Bulk unpublish all studies for PMID 35115690"
User request to swap allele for top associations.

Please unpublish all studies for PMID '35115690' well before the next DR.

[2022-06-30 13:36] ljwh2 commented on #737
@earlEBI The developers fed back that they can do this, but it is quite time consuming and could be error prone. It would be more efficient for them to unpublish/publish and for you to use the depocuration features to update the traits. If that sounds ok, please close this ticket and create a new one to unpublish the PMID.

[2022-06-30 16:21] eks-ebi opened #770 "Republish 430 studies for Ruhlemann PMID 33462482"

[2022-06-30 16:30] earlEBI commented on #769
@ala-ebi thank you, except for study ID 94089614, please change the status for all other studies to:
curator: GWAS Catalog
status: publish study

study id 94089614 should remain unpublished / requires review, with curator 'unassigned'.

[2022-07-01 08:52] earlEBI opened #771 "assigning trait and EFO in bulk - unexpected error - Backman - 7972 studies"
I am trying to assign traits and EFO for backman - 7972 studies but keep getting 'an uexpected error occurred'.
'https://www.ebi.ac.uk/gwas/depo-curation/submissions/615df545921d1b00012f1e6e'
These are the files I'm trying to upload:

traits: [https://app.zenhub.com/files/2995118/2be67e34-058e-4198-92d2-d3072a1867a5/download](https://app.zenhub.com/files/2995118/2be67e34-058e-4198-92d2-d3072a1867a

[2022-07-01 10:18] sajo-ebi commented on #770
@eks-ebi Done , please confirm

[2022-07-01 11:31] earlEBI commented on #771
Tried to test uploading the same 7972 traits / EFO to test submission 'https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/62becbb2b18fd30001b73302' using this template:

[Uploading... Backman study-multi-trait-bulk-upload - test.tsv]

The 'upload' button greyed out for about 30 seconds as expected but then turned blue again. Nothing else happened. Traits / EFO have not been assigned.

[2022-07-04 08:15] eks-ebi commented on #770
Hi @sajo-ebi I'm sorry, I forgot that I had to assign the reported trait and EFO to these studies again after editing the template, so this information was wiped after import. Could you please unpublish them again so I can redo that?

[2022-07-04 09:08] sajo-ebi commented on #770
@eks-ebi Done, please confirm

[2022-07-04 09:15] eks-ebi commented on #770
confirmed, all studies are unpublished. I will now re-assign the traits

[2022-07-04 10:56] ljwh2 commented on #751
@sajo-ebi I noticed the meta-data is different for these two studies, and now I can see the author had requested to re-open the submission to change the metadata. I think this is where the additional GCST came from. Please confirm you haven't already deleted GCST90017149? I would like to go back to the author on this.

[2022-07-04 11:39] eks-ebi commented on #770
@sajo-ebi re-import is complete and I've approved all associations. Can you please re-publish these studies?

[2022-07-04 12:02] sajo-ebi commented on #751
@ljwh2 I haven't deleted any GCST

[2022-07-04 12:34] sajo-ebi commented on #731
Have Deleted the Unpuplished studies for '35078996'   from Curation DB , will wait for Depo Sync to run if that is causing these studies to be reinserted

[2022-07-04 13:48] sajo-ebi commented on #770
@eks-ebi done , please confirm

[2022-07-04 13:51] ar-ibrahim commented on #719
<img width="1403" alt="Screenshot 2022-07-04 at 14 16 31" src="https://user-images.githubusercontent.com/97462656/177168485-bb39bc80-4611-4aee-ba3a-fb69a6d2e8a3.png">

Might be a mapping issue. L.H. suggested that it might be an out-of-date variant.

[2022-07-04 14:09] ljwh2 commented on #751
Contacted user Daniel Crouch on 4/7/22

[2022-07-04 14:12] ljwh2 commented on #719
Seems this particular variant produces duplicate mappings.
Noting this is a variant ID that was merged a long time ago, although this doesn't normally cause a problem as far as I know https://www.ncbi.nlm.nih.gov/snp/rs115094736
@sprintell could you please check what is going on in the mapping pipeline for this variant?

[2022-07-04 15:23] eks-ebi commented on #770
@sajo-ebi confirmed, all studies are published

[2022-07-04 15:24] #770 closed

[2022-07-04 15:45] sajo-ebi commented on #736
@earlEBI the issue is that the GCST is existing both as published as well as unpublished study, let me know if you want to delete the unpublished study entry before DR, it should resolve the issue

[2022-07-04 15:51] sajo-ebi commented on #736
@earlEBI yes I will delete it from backend

[2022-07-04 15:54] sajo-ebi commented on #736
@earlEBI done , need to confirm after DR

[2022-07-05 08:17] ljwh2 commented on #751
I have now discussed with the user, it's bit more complicated than we thought.
He made an original submission with GCST90013791 which has sample metadata 7977 European
This metadata is incorrect so he asked to reopen the submission and made a new one, which is  GCST90017149 with 181214 European

He would like to keep GCST90013791, since he has quoted that in a manuscript. That's good because it is

[2022-07-05 12:23] sajo-ebi commented on #751
@ljwh2 we can update the Sample description free text from backend , & then we can delete the study from DB, kindly confirm if you want us to go ahead , changes will reflect in the next DR

[2022-07-05 13:07] jdhayhurst opened #772 "analysis of number of existing sumstats that contain the full set of mandatory fields"
1. identify all submitted sumstats files
2. which of these have the full mandatory set of headers + data?

manadatory set ('chromosome', 'base_pair_location', 'effect_allele', 'other_allele', 'p_value', 'effect_allele_frequency', 'standard_error') AND ('beta' OR 'odds_ratio' OR 'hazard_ratio')

[2022-07-06 08:50] ala-ebi opened #773 "optimising study/trait mapping"

[2022-07-06 09:46] ljwh2 commented on #752
@sajo-ebi please provide details to Lizzy for testing

[2022-07-06 10:31] eks-ebi opened #774 "Edit EFO traits for 'age of onset' studies in bulk"
A number of new EFO terms have been created to better represent studies on the age of onset of a disease. These terms take the form:
* age of onset of [disease X]

They will replace previous annotations where two separate terms were used:
* age at onset | [disease X]

As multiple studies need to be reannotated, and many were created before the new deposition software, these edits will need to be p

[2022-07-06 10:31] eks-ebi commented on #774
[https://app.zenhub.com/files/2995118/e1dbe68b-05c7-4bfe-855e-7b3f35cd85f1/download](https://app.zenhub.com/files/2995118/e1dbe68b-05c7-4bfe-855e-7b3f35cd85f1/download)

[2022-07-07 09:58] Santhi1901 opened #775 "Submission to be pushed through validation (PMID: 34375979)"
Submission for PMID: 34375979 from user Fengyuan Hu needs to be manually pushed through validation

https://www.ebi.ac.uk/gwas/deposition/submission/62c592398a6cfa0001651079

[2022-07-07 13:06] jdhayhurst opened #777 "update documentation FAQ to describe situation with summary stats API out of sync with FTP"

[2022-07-08 15:39] earlEBI opened #778 "Imported free text - needs space between ancestries"
Rows on sample tab should be imported to free text separated by a comma and a space.

Example of one I just imported which needs spaces after commas:
https://www.ebi.ac.uk/gwas/curation/studies/97986390/sampledescription
![Screenshot 2022-07-08 at 16.37.36.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/c573c3f2-874f-4c63-8af5-597f1091eda6)

[2022-07-11 10:57] ljwh2 opened #779 "Investigating best process to curate studies not present in deposition DB"
Some studies are present in the curation db and have been curated in the old curation app, but not published yet. These do not have any submission associated with them. They fall into two categories:

Some have already had reported traits and/or EFOs assigned to them (under the old system), examples are:
Study IDs: 92919997, 93023048, 91754937, 91754978 [a]
Some have not yet had reported traits or

[2022-07-11 13:35] ljwh2 commented on #731
Confirming that all studies from the originally reported PMID 35078996 have now been deleted in production

[2022-07-11 14:06] ljwh2 opened #780 "3 studies appear incorrectly in prepublished download table."
There are some studies that appear in the prepublished sumstats table with NA in metadata:

GCST90032652
GCST90032653
have NA in First Author, Title, Ancestry and No of individuals

These have no study page in the UI, and do not appear in the data downloads, I can't find out anything else about them.

GCST90006559
This appears with NA in first author and title. The reported trait is Type 2 diabete

[2022-07-12 10:21] ala-ebi opened #781 "Fix issues for production Search UI"
there are two issues we often see in the search UI:
1. After doing a software release on Bamboo, the deployment process hangs on the Tomcat App Reload, further investigation showed that the VMs are consuming about 98% of the available memory, half of that being Tomcat.
2. https://www.ebi.ac.uk/gwas/downloads/summary-statistics on Chrome sometimes shoes an 'Aw, Snap' Error ![image.png](https://imag

[2022-07-12 10:30] sajo-ebi opened #782 "Deposition UI: Change Button to display Deposition Submission"

[2022-07-12 15:43] sajo-ebi commented on #736
@earlEBI please confirm if this is resolved after DR

[2022-07-13 07:29] earlEBI opened #783 "Edit trait details for prepub submission"
From a user request:

I just noticed, the reported trait for files of large artery stroke and small vessel stroke was interchanged in attached excel sheet.
Notably "Large artery stroke" should be the reported trait for Study accessions: GCST90104542, GCST90104547, GCST90104552, GCST90104557, GCST90104562, instead of "Small vessel stroke".

Similarly, "Small vessel stroke" should be the reported tr

[2022-07-13 07:44] ljwh2 commented on #737
@earlEBI can this ticket be closed now?

[2022-07-13 07:44] earlEBI commented on #737
yes

[2022-07-13 09:07] #736 closed

[2022-07-13 09:23] jdhayhurst commented on #777
update the docs/methods/summary-statistics page with this information

[2022-07-13 09:27] earlEBI opened #784 "Reset Brouwer GxE publication to test check boxes and multiple EFOs"
submission ID '62cd555a15ccca000139af50'.
I created a submission for this publication in the submission app using an old template without GxE columns.
Tried to add GxE columns in the depocuration app, but on import, check boxes have not been ticked.
Edited checkboxes in Curation App and then noticed multiple EFOs were not showing on publication page 'https://www.ebi.ac.uk/gwas/curation/publication

[2022-07-13 09:56] ljwh2 commented on #752
Create new ticket to run offline

[2022-07-13 09:56] #752 closed

[2022-07-13 09:58] #778 closed

[2022-07-13 10:07] ljwh2 commented on #773
Test with Backman. @earlEBI to confirm when those traits are correctly mapped.

[2022-07-13 10:11] ljwh2 commented on #710
No error was displayed for Backman trait assignment that caused duplicates (no traits were assigned). Need to handle these unexpected situations if traits are not successfully added.

[2022-07-13 10:15] #763 closed

[2022-07-13 10:16] #772 closed

[2022-07-13 10:26] ljwh2 commented on #691
@ala-ebi to review latest issues and possibly follow up with EFO

[2022-07-13 10:33] #582 closed

[2022-07-13 10:50] ljwh2 commented on #768
@sprintell to review technical side and assign to a developer

[2022-07-13 11:01] ljwh2 commented on #783
This might be do-able in depocuration, could you please try?

[2022-07-13 11:20] ljwh2 commented on #783
tagging @sajo-ebi for Lizzy's question above

[2022-07-13 14:28] earlEBI opened #785 "Retrieve numbers of prepublished sumstats files"
Please retrieve

1. The number of successfully submitted prepublished submissions currently under embargo.

2. Within that, the total number of summary stats files / studies currently embargo.

[2022-07-13 15:37] ala-ebi commented on #670
done.
Things to test:
1. assigning Background traits using the UI option in study details side drawer
2. assign Background traits using the Study/Trait mapping template
3. importing in one of the above scenarios, or combine both (assign with file then add more with UI)

[2022-07-13 15:44] earlEBI commented on #784
Done, thanks. Re-imported fine.

[2022-07-14 10:11] sajo-ebi commented on #783
Hi @earlEBI please refer to the attached screenshot , you can use the attached screen to edit Reported Traits for the individual GCST
<img width="890" alt="image" src="https://user-images.githubusercontent.com/77010716/178959119-e2d3f15e-7043-4329-ae82-e402dd4c7b64.png">

[2022-07-14 10:52] earlEBI commented on #783
@sajo-ebi Currently there are no reported traits / EFOs assigned to any of the studies, because it is a prepublished submission. Do I need to add reported traits to all studies? In order to change the traits on these prepublication pages? https://www.ebi.ac.uk/gwas/studies/GCST90104563

[2022-07-14 11:23] sajo-ebi commented on #783
@earlEBI, we can add traits in Depocuration,  the details will be reflecting in Curation App when the Pmid is attached to the submission & the submission is imported

[2022-07-14 11:23] earlEBI opened #787 "Summary statistics not appearing on FTP"
Prepub submission '62c38f438a6cfa000165035c', submitted a week ago, GCSTs are not appearing on the FTP.
Please investigate so they can be included in the next data release.

[2022-07-14 11:24] earlEBI commented on #783
@sajo-ebi We need the changes to be reflected in the Catalog before we import and publish through the Curation App.

[2022-07-14 11:25] sajo-ebi commented on #783
sorry @earlEBI it may be updated by Depo Sync we can try, not sure  about behaviour of Unpublished studies

[2022-07-14 11:27] earlEBI commented on #783
@sajo-ebi Do you still think I need to use the trait edit page you screenshotted? Or because the information was originally pulled from the template (as is always the case for prepublished submissions), updating the template may be enough? Is there any way to test it or will we only know when DR is in staging?

[2022-07-14 13:23] sajo-ebi commented on #783
Hi @earlEBI as per my investigation Depo Sync updates only newly created body of work , for existing  body of works there is no sync , hence the update in template didn't reflect . I was confused with the published study where behaviour is different . In this case I have manually updated the Reported Trait in Curation DB , the data will be updated after DR

[2022-07-14 13:23] earlEBI commented on #783
@sajo-ebi great, thank you!

[2022-07-14 17:19] eks-ebi opened #788 "Unpublish 1052 studies for Hoskens PMID 33983923"

[2022-07-15 10:42] eks-ebi commented on #788
oops yeah it's only 1049 - not sure how I typed that wrong! thanks @sajo-ebi

[2022-07-15 14:09] eks-ebi opened #789 "Republish 1049 studies for Hoskens PMID 33983923"

[2022-07-15 14:11] eks-ebi commented on #789
closing because created by mistake

[2022-07-15 14:53] jdhayhurst commented on #775
staged for release

[2022-07-18 08:15] eks-ebi commented on #789
@sajo-ebi these studies are ready to be republished when you have a chance

[2022-07-18 08:21] earlEBI opened #790 "Display of Terms/Licence on GCST page for GCST90129505"
Similar ticket to https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/763

On the request of a user, please remove the link to the general terms of use which would usually be displayed on their GCST page.
Instead, show 'Please refer to readme file'.

This is currently a prepublished GCST under embargo until date of publication, but the text should appear once releas

[2022-07-18 10:23] eks-ebi commented on #789
@sajo-ebi confirmed, thanks!

[2022-07-18 10:23] #789 closed

[2022-07-18 11:05] earlEBI opened #791 "Correct GCSTs for Pirastu PMID 35653391"
GCSTs for some studies from a user submission were changed because curator edited study tags.
Submission id '621f9d863c92b90001a26e19'.

Please correct 8 studies as listed here: [https://app.zenhub.com/files/2995118/3bcf3fcd-238c-4bd0-b91b-4c14936c1a98/download](https://app.zenhub.com/files/2995118/3bcf3fcd-238c-4bd0-b91b-4c14936c1a98/download)

This needs to be done before the DR. Thank you.

[2022-07-18 13:31] earlEBI commented on #791
@sajo-ebi looks good, thanks

[2022-07-18 15:15] sprintell opened #792 "Export GWAS data to Covid Portal should be during data release deployment"
GWAS EBI Search index export file (/nfs/production/parkinso/spot/gwas/prod/data/gwas-ebi-search-index-data/studies.json) is generated during the data release build stage, but this should be exported during the data release deployment stage as this file should not be available for external access until the data release is deployed

https://github.com/EBISPOT/gwas-ebi-search-index

[2022-07-19 08:44] Santhi1901 commented on #780
GCSTs mentioned in the paper match with the published GCST in the Catalog. For PMID: 34873335 GCST90027163,GCST90027164, and for PMID: 33188205 GCST90006934

[2022-07-19 09:51] earlEBI commented on #787
@sajo-ebi done

[2022-07-19 09:56] ljwh2 commented on #780
Since the authors have used the published GCSTs, we can delete the unpublished studies.

[2022-07-19 10:28] ljwh2 opened #793 "Documentation update"
Add Curation at Scale talk to Related Resources page: https://www.youtube.com/watch?v=SoIGb12h_fQ

[2022-07-19 10:40] sajo-ebi commented on #750
@ljwh2 the Unpublished studies have been deleted from Curation DB , will reflect in Catalog after DR

[2022-07-19 10:43] sajo-ebi commented on #780
@ljwh2 the unpublished studies have been deleted & will reflect after DR

[2022-07-19 13:46] ala-ebi commented on #691
After the last EFO data release most of these were fixed, but I looked through the file and there are currently 291 studies without a Mapped Trait[https://app.zenhub.com/files/2995118/e6d34b6a-71ac-48b2-ba73-5da7ab9532f2/download](https://app.zenhub.com/files/2995118/e6d34b6a-71ac-48b2-ba73-5da7ab9532f2/download)

[2022-07-19 15:37] earlEBI opened #794 "EFO searching in depocuration"
Need to be able to search by EFO_ID

[2022-07-19 15:51] earlEBI opened #795 "Duplicate EFOs in Curation App"
![Screenshot 2022-07-19 at 15.01.57.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/77a591db-6ccb-4104-879d-260340e9fe14)

EFO duplicates keep appearing on this page in the curation app:
http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/efotraits

I have already cleaned this up last week but they have reappeared.
Again I have cleaned up as listed here
[https://app.zenhub.com/file

[2022-07-19 16:30] earlEBI commented on #795
Please delete the following EFO from depocuration as I am uanble to because they say they're linked to studies. I changed the EFOs in Curation app:

Creatine measurement	EFO_0021579
Inositol measurement	EFO_0021606
Theobromine measurement	EFO_0021673

[2022-07-20 07:11] earlEBI commented on #771
@sajo-ebi Thanks for bulk unpublishing. I have re-uploaded the submission template and EFO/trait template successfully. Import also successful. Approved associations.
Please now change the status for all studies (with PMID 34662886) to:
curator: GWAS Catalog
curation status: publish study

[2022-07-20 08:50] jdhayhurst commented on #777
updated documentation branch of gwas-ui

[2022-07-20 09:11] jdhayhurst commented on #775
Not yet released on FTP because the studies are not in the curation db

[2022-07-20 09:35] jdhayhurst commented on #787
Can confirm that these sumstats are released

[2022-07-20 10:13] eks-ebi opened #796 "Investigate triggering import if only trait assignment is edited"

[2022-07-20 11:27] sajo-ebi commented on #771
@earlEBI the studies has been published , kindly confirm

[2022-07-20 12:10] earlEBI commented on #771
@sajo-ebi confirmed

[2022-07-20 12:29] sajo-ebi commented on #751
@ljwh2 Sample Description updated for 'GCST90013791' &  'GCST90017149' has been deleted

[2022-07-20 13:31] sprintell commented on #765
@ljwh2  you can please check it here https://ebispot.github.io/gwas-blog , its online now

[2022-07-20 14:55] ala-ebi commented on #647
identified the problem, a piece of code is excluding terms marked as "organizational_class" in EFO from being loaded into the app, "treatment" falls into this category and was excluded, the rest of the list includes
'anatomy basic component' organizational_class "true"^^xsd:string
'chromosomal aberration' organizational_class "true"^^xsd:string
CS57544 organizational_class "true"^^xsd:string
'epig

[2022-07-21 10:33] earlEBI opened #798 "Splitting sumstats for Shin 24816252"
Related to https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/496

I will submit 533 studies - 486 metabolites with sumstats and the rest ratio traits without sumstats.

Currently there are 453 sumstats files attached to GCST002443

There are another 33 relevant files here: https://metabolomics.helmholtz-muenchen.de/gwas/index.php?task=download under shin_et_al.xen

[2022-07-21 12:50] ljwh2 opened #799 "Replace banner on homepage"
Replace the text in the homepage banner (currently about background traits) with

Coming soon! New format for GWAS summary statistics. Read all about it in our blog <https://ebispot.github.io/gwas-blog/new-standard-for-gwas-summary-statistics> and  preprint <https://www.biorxiv.org/content/10.1101/2022.07.15.500230v1>

[2022-07-21 15:52] earlEBI opened #800 "OTAR prioritised splitting of old GWAS/QTL studies to match summary statistics design - KETTUNEN"
related to https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/496

I have created the submission form here:

[https://app.zenhub.com/files/2995118/4328bfe0-5bac-4fe7-999a-de2a8ac29241/download](https://app.zenhub.com/files/2995118/4328bfe0-5bac-4fe7-999a-de2a8ac29241/download)

Is there anything else you need @jdhayhurst before I unpublish the original and create a

[2022-07-22 12:27] eks-ebi commented on #670
sorry for delay @ala-ebi. These are now tested in wwwdev:

1. assigning Background traits using the UI option works perfectly for both single and multiple EFO terms - DONE
2. assigning Background traits using the template also works - DONE
3. a possible issue with the import - I used the template to add background EFO terms to just 5 studies (study tag 253-257) in this submission (https://wwwdev.e

[2022-07-22 16:11] sajo-ebi commented on #677
UI changes have been deployed in Dev environment @ljwh2 you can test the functionality in Dev1 [Gwas SNoopy](http://gwas-snoopy.ebi.ac.uk:9780)

[2022-07-25 11:14] ljwh2 commented on #677
Tested for genes with homologs, without homologs and with no phenotyping, all looks good. We need to add some documentation (FAQ) I will work on this asap

[2022-07-25 11:56] ljwh2 commented on #677
@sajo-ebi just asking here for the record - you said we would take an offline dump of IMPC data to avoid calling API each time. What is the plan for updating this please?

[2022-07-25 12:01] sajo-ebi commented on #677
@ljwh2 there is a scheduler which runs each day in morning which will refresh the Impc data , in addition have also created an API which can be called to do an on demand Data refresh.

[2022-07-25 13:01] earlEBI opened #801 "Full submission GCSTs need to be accessible from the depocuration app."
As a curator, we need to be able to access the full list of GCSTs originally attached to studies on first submission.

One useful solution would be to provide a download button on the studies tab which acts in the same way as the download button on the samples tab, which provides a prefilled template with GCSTs and study tags already filled in, and the additional empty columns for reported trait,

[2022-07-25 14:29] jdhayhurst commented on #677
updated FAQ on documentation branch: https://github.com/EBISPOT/gwas-ui/blob/documentation/goci-interfaces/goci-ui/src/main/docs/faq-content.adoc#23-how-can-i-find-the-mouse-orthologs-in-impc-for-the-genes-in-the-gwas-catalog

[2022-07-25 14:40] ljwh2 commented on #740
User followed up 25 July

[2022-07-25 14:44] ljwh2 commented on #677
Looks good thanks @jdhayhurst

[2022-07-25 14:45] earlEBI opened #802 "Add preprint link to prepub submission - GCP000352"
submission id: '628d25f48b8c550001f59a1c'

I thought I'd created this ticket some time ago but can't find a record of it.

Please add this pre-print link to the submission so it shows in the Catalog on the prepublication GCST pages after the next DR:
https://www.medrxiv.org/content/10.1101/2022.05.27.22275343v1

[2022-07-25 14:47] earlEBI commented on #802
found the ticket already existing - https://github.com/EBISPOT/goci/issues/740#issuecomment-1194139806

[2022-07-25 14:47] #802 closed

[2022-07-26 09:33] jdhayhurst commented on #800
@earlEBI perfect - thanks, that's going to work. Please go ahead and create the submission when ready. It will fail, just let me know.

[2022-07-26 10:27] sajo-ebi opened #803 "Sync Traits Issue - Fix the EFO Traits Delete issue"
It has been observed that during sync Traits delete operation the mapping for All Efos are getting removed, this is not expected & only the EFO being deleted should be unlinked

[2022-07-26 14:48] Santhi1901 commented on #757
these are the list of GCST ids:

GCST90006884
GCST90006885
GCST90006886
GCST90006887
GCST90006888
GCST90006889
GCST90006890
GCST90006891
GCST90006892
GCST90006893
GCST90006894
GCST90006895
GCST90006896
GCST90006897
GCST90006898
GCST90006899
GCST90006900
GCST90006901
GCST90006902
GCST90006903
GCST90006904
GCST90006905
GCST90006906
GCST90006907
GCST90006908
GCST90006909
GCST90006910
GCST90006911
GCS

[2022-07-26 15:12] Santhi1901 commented on #757
[GCST ids.xlsx](https://github.com/EBISPOT/goci/files/9190996/GCST.ids.xlsx)

The spreadsheet has the list of new sumstats file names from the dropbox folder and the corresponding GCST ids

[2022-07-27 08:52] jdhayhurst commented on #757
ok so these need to be released but not added to the harmonisation pipeline?

[2022-07-27 09:25] #787 closed

[2022-07-27 10:26] #632 closed

[2022-07-27 10:27] #777 closed

[2022-07-27 10:29] #775 closed

[2022-07-27 10:31] #784 closed

[2022-07-27 10:32] #773 closed

[2022-07-27 10:32] #765 closed

[2022-07-27 10:37] ljwh2 commented on #710
The specific issue with Backman does not need an error message . Unexpected technical errors should produce an error something like "An unexpected error occurred, please contact the dev team"

[2022-07-27 12:59] #710 closed

[2022-07-27 13:23] eks-ebi commented on #670
the error above was only seen in the import preview - after actually clicking 'import', the expected data was imported into the curation interface

[2022-07-27 13:36] ala-ebi opened #804 "submission import ui displaying the wrong (the text) value for background traits"
![Screenshot 2022-07-27 at 14.33.38.png](https://images.zenhubusercontent.com/60190c8d2d567e0492e6fdd9/83c268cf-df3b-49f2-88a9-1dc6627f6b11)

[2022-07-27 14:29] jdhayhurst commented on #757
This is done. There were harmonised files for all the studies so I removed them from the FTP. I have queued these new files up for harmonisation - I don't think hla alleles will be harmonised, but the rest of the file should.

[2022-07-27 14:55] ala-ebi commented on #691
fixed the terms with typos, "treatment" (awaiting SW release for GOCI) and waitin for EFO release for the rest of terms

[2022-07-27 14:57] ala-ebi commented on #804
fixed, need to deploy ingest + depocuration + goci for this

[2022-07-27 14:58] ala-ebi commented on #804
@eks-ebi could you please confirm the import submission UI now displays correct values

[2022-07-27 15:07] ljwh2 commented on #745
@Santhi1901  will do this, please can you show her how to edit the documentation pages when ready @eks-ebi

[2022-07-27 15:08] eks-ebi commented on #804
Confirmed, import submission UI now displays correct values!

[2022-07-27 15:17] eks-ebi commented on #745
Thanks @Santhi1901 - this is the folder on GitHub that contains the text that is displayed on the website: https://github.com/EBISPOT/gwas-ui/tree/documentation/goci-interfaces/goci-ui/src/main/docs.

I think the places to edit would be:
* file-downloads-content.adoc for the download column header
* faq-content.adoc for a Q&A about the Most Severe Consequence field on the variant page (maybe under

[2022-07-28 10:10] ljwh2 commented on #759
@jdhayhurst assigning this to you to incorporate in the new template validation

[2022-07-28 10:33] earlEBI commented on #800
hi @sajo-ebi this publication is currently in the Catalog with the following GCSTs:
GCST003664
GCST003665
GCST003666

Summary statistics for 123 traits are currently under GCST003664
Therefore the status of the submission in the Submission App is 'closed'.

Please change the status for this publication (PMID 27005778) to 'open for submission' so I can make a fresh submission with sumstats for 123

[2022-07-28 10:37] earlEBI opened #806 "Cole - submission status is 'closed'. PMID '32193382'"
I am trying to submit metadata and summary statistics for PMID '32193382' but the status in submission app is closed.

Could you tell me if this is because an external user is submitting? Or because it's an old publication that needs resetting to allow submission?

[2022-07-28 10:38] earlEBI commented on #806
Curation status in Curation App was 'outstanding query'. I've changed to 'awaiting curation' and will see if the submission status is changed after sync.

[2022-07-28 12:09] ljwh2 opened #807 "Update FAQ on seqGWAS"

[2022-07-28 15:06] Santhi1901 opened #808 "The trait page not loading in the UI"
A user reported the issue of this page not loading https://www.ebi.ac.uk/gwas/efotraits/EFO_0005278.

The page has many studies and associations

[2022-07-29 10:33] earlEBI opened #809 "Submission history in depocuration app not appearing"
I've noticed this on and off for a long time now. Submission template history is not consistently appearing for me.

An example:
1. Submitted a template for '62e3ae9b37db260001581fa7' in submission app.
2. uploaded traits and EFOs
3. selected 'allow import'.
4. reviewed in Curation App before pressing import. Saw that the effect allele was appearing as eg. '0.33409999999999995' when 0.334 was ente

[2022-07-29 12:38] earlEBI commented on #806
Still was showing as closed.
Full p-value set was also ticked in curation app. unticking and seeing if *that* fixes it.

[2022-07-29 12:47] jdhayhurst commented on #759
This is not some defined by the template service (Python): https://github.com/EBISPOT/gwas-template-services. It is something that the validator (Java) does: https://github.com/EBISPOT/gwasdepo-template-validator. It therefore needs a Java developer - @sprintell please can you reassign?

[2022-07-30 10:33] eks-ebi opened #810 "Submission ID link in Depo-Curation incorrectly links to wwwdev"

[2022-08-03 08:18] earlEBI commented on #806
The status in the submission app is still 'closed'. Please could someone investigate?

[2022-08-03 09:32] sprintell commented on #767
This can be extended to include the feature to change summary ststistics file

As in goci#757

[2022-08-03 09:48] #799 closed

[2022-08-03 10:17] earlEBI opened #811 "GWAS Catalog API display errors"
Please investigate the following gwas-info:

Over the past week or so I’ve been trying to access the GWAS Catalog API however have been experiencing various errors, for example the following call doesn’t return the entire JSON (gets truncated, showing the last few lines):

https://www.ebi.ac.uk/gwas/rest/api/efoTraits/EFO_0003095/studies

![image.png](https://images.zenhubusercontent.com/5e95cce7c

[2022-08-03 14:55] sprintell opened #812 "Depocuration Admin Features"
https://docs.google.com/document/d/1GVBFqZ2ZIkZUp_RzznY_gnID7Po9KMb_gCLkUOzN05Q/edit#

[2022-08-04 13:55] earlEBI opened #813 "GWAS to EFO mappings file on our File Downloads page is incomplete"
A user alerted us to this issue via gwas-info:

"On the downloads page, there is GWAS to EFO mappings section which reads  "A file showing all GWAS Catalog reported trait to EFO mappings, including the parent category each trait is mapped to on the diagram can be found here and on our FTP server." However, it only has data for two traits (cervical cancer, clubfoot) and not all traits. "

The file

[2022-08-04 14:48] ala-ebi commented on #811
2 errors seen in logs, from HATEOAS/SpringDataRest
1st error is complaining about the variable "Pooled" giving NPE, due to it being a non boxed, primitive boolean instead of Boolean in some places in Study model.
2nd error is "Id must be assignable to Serializable!: null"
**note to self:**
[code]

[2022-08-04 16:17] jdhayhurst opened #814 "Release a change log every data release"
Every data release, publish a data change log containing a breakdown of new, removed, changed studies in the gwas catalog and summary statistics (submitted and harmonised). Previous changelogs should be accessible.

@sprintell We need to spec this up and figure out how it will be generated and where it will be published.

[2022-08-05 08:11] earlEBI commented on #813
We've had another email about this from the GWAS Diversity Monitor who also use this data, so it might be good if this could be prioritised as much as possible. Please let me know when I can update the users.

[2022-08-05 09:00] earlEBI opened #815 "Duplicate associations in summary statistics files"
This issue was brought to our attention by Daniel Suvages via gwas-info so we should keep them in the loop.
Copy of the e-mail:

I have been investigating a user report about duplication in our datasets. When digging into the data, I have identified a range of issues in our pipelines, however I also noticed that some of the duplications are coming from the GWAS Catalog (potentially hundreds of sum

[2022-08-09 10:53] jdhayhurst opened #816 "add the goci-public-data-export.jar to the deployment plan"
This jar needs to be deployed to the sw directory on codon where it runs as part of the DR

[2022-08-09 17:50] sajo-ebi commented on #803
Code changes completed , waiting for code review

[2022-08-10 09:28] sprintell commented on #657
Publication page not loading in all curation app after Oracle Migration
Username and Password not working for SPOTREL, SPOTPUB, and SPOTPUBFALL
Change Pasword for otehr Dlphix Instances

[2022-08-10 10:18] sprintell commented on #803
@sprintell to review solution

[2022-08-10 10:25] #757 closed

[2022-08-10 10:26] sprintell commented on #670
@eks-ebi could youn please confirm this is ok, and should be be deployed

[2022-08-10 10:28] sprintell commented on #647
Can't be closed because of Bug in EFO Downloaded file reported by gwas monitor and otehr user.

[2022-08-10 10:29] #691 closed

[2022-08-10 10:30] #791 closed

[2022-08-10 10:30] #780 closed

[2022-08-10 10:30] #750 closed

[2022-08-10 10:30] #783 closed

[2022-08-10 10:30] #731 closed

[2022-08-10 10:30] #771 closed

[2022-08-10 10:31] #677 closed

[2022-08-10 10:45] jdhayhurst opened #818 "Migrate from LSF to SLURM"
According to this https://sysinf.ebi.ac.uk/doku.php?id=slurm_migration_faq the Codon cluster will be converted from LSF to SLURM by March 2023.

For the pipelines written in Nextflow and Snakemake, this is as easy as changing the profile/config. There are other places that will break where `bsub` commands are baked into the script e.g. the bamboo plans - these would all need updating to SLURM comm

[2022-08-10 13:00] sajo-ebi commented on #779
@ljwh2 Based on my investigation only we can edit these is open the Pmid in Deposition app & create a submission template for existing studies & then remap existing traits using Depo curation . We will to have  retain GCST for the existing studies before the importing the new submission

[2022-08-11 12:13] eks-ebi commented on #670
Yes, this is ok and can be deployed

[2022-08-12 09:12] sprintell opened #820 "Publication Page not loading after Oracle Migration to 19c"

[2022-08-12 13:45] sajo-ebi commented on #800
@earlEBI the Pmid has been opened for submission, please let me know once you have uploaded the template , I will update the GCST from backend

[2022-08-12 17:53] ala-ebi commented on #813
problem was that some terms were obsolete (Orphanet) and replaced by MONDO terms, they also had their parent terms edited, causing problems in pour system, as the parents do not exist in the software.

currently it stop as soon as it finds a term with an unrecognised parent, the implement fix will still display these rows but with NR in the parent columns, it will also send a report to gwas-curato

[2022-08-12 17:54] ala-ebi commented on #813
deployed to prod

[2022-08-15 10:50] ljwh2 commented on #811
@sprintell can we update the user on this issue at all? Our last communication to them was that we would look into it.

[2022-08-15 12:12] ljwh2 commented on #814
This was the intention of the "data release QC report" which was spec'd by myself, Daniel and Jackie (before I was project lead). I've tried to find out why this wasn't ever made publicly available but it seems the answer may be lost to history. It could be used as a starting point.

[2022-08-15 12:13] ljwh2 commented on #810
closing as issue already reported in goci#671

[2022-08-15 12:13] #810 closed

[2022-08-15 12:21] ljwh2 commented on #794
@ala-ebi I think this issue of matching on EFO shortform or label is already being worked on, is there a ticket for that?

[2022-08-15 12:23] ljwh2 commented on #785
Was this resolved?

[2022-08-15 12:58] ljwh2 commented on #794
@ala-ebi I think it is gwas-curation-service#138

[2022-08-16 10:07] earlEBI opened #825 "Curation App post-Oracle migration - loading issues and error log"
16.08.22
Several issues including:
- Unable to login
            - intermittent throughout morning
- Pages never loading, only buffering - no specific page. All pages.
           -  eg. 11am. filtering by 'awaiting curation' and 'level 1 curator' on this page: http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies?page=1&status=21&curator=42
- Error pages on notes tab and when filtering by autho

[2022-08-16 10:17] Santhi1901 commented on #825
![Screenshot 2022-08-16 at 11.12.32 am.png](https://images.zenhubusercontent.com/60658482a4f4a6458dcdf52b/e5dfb158-7f67-4a3b-9881-e41c9b9f7eca)

Error is shown while trying to login to the curation tool

[2022-08-16 10:26] earlEBI opened #826 "Publication stuck in 'import in progress' status - PMID 34282934"
I tried to import this publication last week - I think Friday 12th August - and it is still showing as 'import in progress'.

Please reset the status so I can try again / allow other publications to be imported.

submission id '612734b609113d0001bb5b35'

[2022-08-16 10:33] earlEBI opened #827 "GCP000405 summary statistics not showing on FTP"
We had a user submission on Friday 12th August '62f1496415ccca0001f022c6' with an embargo date set to date of publication.
They then e-mailed to ask for the embargo to be removed, which I did using the remove embargo script, again on Friday,

I believe the files should now be showing on the FTP but the parent directory is not even visible here: http://ftp.ebi.ac.uk/pub/databases/gwas/summary_stati

[2022-08-16 11:42] earlEBI commented on #825
Curation App has been restarted but problems persist.
Eg. ~12.30pm, this page not loading when I clicked to duplicate notes to all studies: http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies/97056071/notes

[2022-08-16 12:04] earlEBI commented on #825
Notes tab eventually (after about half an hour) returned this page:

![Screenshot 2022-08-16 at 13.03.47.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/28d4dbf3-02bd-4bda-bac0-49526ff1ec7d)

[2022-08-16 12:33] Santhi1901 commented on #825
![Screenshot 2022-08-16 at 1.32.27 pm.png](https://images.zenhubusercontent.com/60658482a4f4a6458dcdf52b/0df67bb6-ddf2-416e-b641-0b022ee1c3d7)
Got this error while trying to log in to the curation app around 1.30 pm

[2022-08-16 12:33] Santhi1901 commented on #825
![Screenshot 2022-08-16 at 1.32.27 pm.png](https://images.zenhubusercontent.com/60658482a4f4a6458dcdf52b/0df67bb6-ddf2-416e-b641-0b022ee1c3d7)
Got this error while trying to log in to the curation app around 1.30 pm

[2022-08-16 16:59] earlEBI commented on #825
6pm: error loading study page https://www.ebi.ac.uk/gwas/curation/studies/98547545
![Screenshot 2022-08-16 at 17.58.13.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/4ad8fcee-583a-4e74-9bd7-ad73d7024652)

[2022-08-16 18:25] earlEBI commented on #825
7.15pm: again trying to duplicate notes to all studies, the page only spins, never finishes loading. Tried refreshing but notes have not been duplicated. Tried again, still loading. http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies/97005673/notes

[2022-08-17 07:35] earlEBI commented on #825
8.30am - Curation App pages are only spinning, never loading. eg.
http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies/99877989/associations
http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/
![Screenshot 2022-08-17 at 08.34.42.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/b9b4364b-185a-4205-96d7-9966fcb87bac)

[2022-08-17 07:43] earlEBI commented on #800
I will upload the template once I know the data release has gone through, so that I can unpublish the paper and the next steps can be done without rushing.

[2022-08-17 08:40] jdhayhurst commented on #827
The files are on staging but the studies are not in the database. This suggests that the depo sync failed to run

[2022-08-17 08:59] ala-ebi commented on #813
[julyorphanet.xlsx](https://github.com/EBISPOT/goci/files/9358070/julyorphanet.xlsx)

[2022-08-17 10:26] earlEBI commented on #825
Notes tab: After clicking the 'duplicate to all studies' button next to a note, and after the eternal buffering, and the restarting of Curation App, the note has been copied thousands of times within the same study: http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies/99811541/notes

[2022-08-17 10:50] earlEBI commented on #825
11.50am: Curation App was briefly working after restart but now no pages are loading again, eg: http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies/99811521/housekeeping

[2022-08-17 11:42] earlEBI commented on #825
Curation App has been restarted again.
12.42: Error loading this page http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies?page=1&author=Care%20AG
![Screenshot 2022-08-17 at 12.41.59.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/ee1fd51c-0230-45d2-96f1-194d206ccd6e)

[2022-08-17 13:59] ljwh2 opened #828 "Summary statistics page does not load in Chrome for several users"

[2022-08-17 16:48] earlEBI opened #829 "Update sumstats file for GCST010144"
User contacted us to update the summary statistics file they had submitted in 2020, which contained 0 p-values.

I don't have permissions on the folder in staging to replace it myself.

I have put the file and md5sum in the following directory: /nfs/production/parkinso/spot/gwas/curators/GCST010144

Please replace the sumstats file and md5sum on FTP.

Please also remove the harmonised file current

[2022-08-18 09:08] earlEBI commented on #825
18.08.22:
Curation App working a lot better but for this study, when I changed status to publish study on the curator information tab of this study http://ves-ebi-e4-x.ebi.ac.uk:8080/gwas/curation/studies/99877989 I received this error:
 ![Screenshot 2022-08-18 at 10.06.02.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/2337a930-a5a1-4672-bdd2-4b823d871214)
But status does seem

[2022-08-18 09:12] earlEBI commented on #825
10.10am:
Receiving this error page when trying to open this study page: https://www.ebi.ac.uk/gwas/curation/studies/98547545
![Screenshot 2022-08-18 at 10.11.23.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/03d2eeac-efb8-4c30-9a8b-64e9ab416b48)

[2022-08-18 10:15] jdhayhurst commented on #401
also https://www.ebi.ac.uk/gwas/efotraits/EFO_0005278

[2022-08-19 10:09] jdhayhurst commented on #829
replaced on staging. It should automatically be released and picked up by the harmonisation queue

[2022-08-22 10:09] ljwh2 commented on #828
Note, this was working for me until I updated Chrome to the latest version (Version 104.0.5112.79), now it does not work.

[2022-08-23 11:11] ljwh2 opened #830 "REST API queries"

[2022-08-23 13:49] jdhayhurst commented on #815
I've done a bit of an investigation into the summary data from GCST003395.

In the raw data, I broke it down as follows (counting every instance of the duplicates i.e. with the pandas duplicated(keep=False) and drop_dupliactes(keep=False) methods:

9583642    total records
9534587    unique records
49055    duplicate records (all duplicates counted)
9534054    unique records based on the variant d

[2022-08-23 14:25] earlEBI commented on #800
Hi @sajo-ebi, the stasus of PMID 27005778 in the submission app is closed again.
Please can you set it to 'open for submission' again, as soon as possible?

[2022-08-23 14:25] jdhayhurst opened #831 "mapping inconsistencies for snp x snp interactions"
From gwas-info:

I have a question on how the variants are mapped/recorded in the associations dataset. I feel there might be some inconsistencies in how the rs identifiers of the variants are mapped to the genome, or how this information is exported. I noticed this when I was looking at studies reporting SNP x SNP interactions. When looking at the table of variants and the available mappings for

[2022-08-23 14:30] sajo-ebi commented on #800
@earlEBI done

[2022-08-23 16:09] ljwh2 commented on #831
Same issue as goci#577?

[2022-08-24 08:19] jdhayhurst commented on #831
They could be related, but the issue here is not the gene mappings, it's the coordinate mappings

[2022-08-24 08:53] ljwh2 commented on #688
Moving to icebox as Ensembl advised we do not need to map to this version

[2022-08-24 08:55] ljwh2 commented on #564
@ala-ebi is this the same issue that you recently fixed?

[2022-08-24 08:58] ala-ebi commented on #564
@ljwh2 No, the one that was recently fixed involves ignoring EFOs that have no parent that is defined within our system when generation the EFO Mappings file

[2022-08-24 09:10] #779 closed

[2022-08-24 09:12] #813 closed

[2022-08-24 09:16] sprintell commented on #827
This can only be fixed by looking into the deposition sync. @sajo-ebi

[2022-08-24 09:18] ala-ebi commented on #647
need to run the Solr Indexed deployment plan, instead of Production Curation

[2022-08-24 09:35] #815 closed

[2022-08-24 09:56] #657 closed

[2022-08-24 09:56] #820 closed

[2022-08-24 09:58] #825 closed

[2022-08-24 10:42] ala-ebi commented on #768
show error if ensembl db is down

[2022-08-24 10:43] ala-ebi commented on #768
show if snps were invalid but were approved

[2022-08-24 12:17] ljwh2 commented on #751
GCST90017149 still appearing in unpublished download table 24/8/22, with NA in First Author

[2022-08-24 13:31] sprintell opened #832 "Data Release 24.08.2022"

[2022-08-24 14:18] ala-ebi commented on #768
possible better change green text to "All SNPs were approved"
and warning to: "Some approved SNPs may have had errors"

[2022-08-24 15:33] sajo-ebi commented on #806
@earlEBI opened the Pmid , there was submission which was created which has been archived , hence Pmid was not open for submission

[2022-08-24 15:41] sajo-ebi commented on #803
@earlEBI this is deployed in [Dev1](http://gwas-snoopy.ebi.ac.uk:9780/gwas/curation/), kindly validate

[2022-08-24 16:04] sajo-ebi commented on #803
@earlEBI this is to test when Traits are deleted in Depo CUration , the studies that are mapped with the deleted traits are unmapped not the other EFO traits mapped to the same study, the issue which you found in Production

[2022-08-24 16:06] earlEBI commented on #803
@sajo-ebi it shouldn't allow deletion of _any_ EFO if they're already connected to a study, right?

[2022-08-24 16:09] earlEBI commented on #803
I am receiving an error which doesn't allow to delete EFO traits when they are already attached to a study, as expected.

[2022-08-24 16:09] sajo-ebi commented on #803
@earlEBI yes you will first unlink the EFO which is to be deleted in Depo CUration then delete the EFO Trait ,this is more testing on the CUration side whether the changes are replicated correctly on the Curation App, we can talk over Zoom tomorrow if it not clear

[2022-08-25 12:30] earlEBI commented on #803
tested by doing the following:
1. Added EFO http://www.ebi.ac.uk/efo/EFO_0001739 as 'test trait - investigator' to depocuration app test environment https://wwwdev.ebi.ac.uk/gwas/depo-curation/efo-traits
2. Assigned reported trait and multiple EFO to this submission https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/62cf1a31fd97600001ce8be4
3. Waited for trait sync to run between the Curation

[2022-08-25 13:43] sajo-ebi commented on #803
Thanks @earlEBI , this looks good

[2022-08-30 13:14] ala-ebi commented on #827
We found the cause for this, it's the fact that the submission has the new "DEPOSITION_COMPLETE" status but the deposition-sync only picks up submissions that have the "SUBMITTED" status.

I have manually changed the status for this submission and rerun the deposition-sync, I can see it in the Oracle DB now but we need a DR to get to the public facing site.

To fix the problem for future submissio

[2022-08-30 13:28] earlEBI commented on #827
@ala-ebi thanks. I think as long as the FTP link works, inclusion on the site can wait until next DR.

I think this submission may also be affected as I released embargo today and told them their data would be available on FTP tomorrow - could you please check? https://www.ebi.ac.uk/gwas/deposition/submission/6304d7b115ccca0001f1101b

[2022-08-30 13:36] earlEBI commented on #827
@ala-ebi can I tell the user the FTP link should work tomorrow? (http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90133001-GCST90134000)

[2022-08-30 16:32] sprintell opened #833 "API endpoint to get All publication resources"
**As developer**
I want an api endpoint
So that when I send a GET request, paginated list of all publications in the database, including those without associated submissions is returned in hateoas Format

**Management Rules:**
Rule 1: Endpoint - /v1/publications
Rule 2: HTTP Request Method - GET
Rule 3: Endpoint should accept filter, and sort parameters as in /v1/publications      ?pmid=...&page=0

[2022-08-31 08:08] earlEBI commented on #827
FTP links are working now, thanks

[2022-08-31 10:14] sprintell opened #834 "Post DC Migration Documentation Clean UP"

[2022-08-31 12:48] ala-ebi opened #835 "fix deposition-sync to sync BoW submissions with "DEPOSITION_COMPLETE" status"
deposition-sync needs a change to make unpublishedSync pick up BoW submissions with status "DEPOSITION_COMPLETE" instead of "SUBMISSION"

[2022-08-31 16:38] DSuveges commented on #831
Hi @ljwh2 , @jdhayhurst !

Sorry for the unsolicited comment, but I think it would be better to make things a bit more clear: it seems there's some fragility in the mapping pipelines when the rsIDs are being resolved to chromosome basepair location via the REST API of Ensembl. I noticed this behaviour when I took a look at the above example. However I know it is very difficult to troubleshoot such

[2022-09-01 08:13] earlEBI commented on #827
@ala-ebi Hi Ala, this user seems very keen to see their sumstats available on the FTP asap - would you be able to change their status as above so their data is released overnight? submission id '6304d7b115ccca0001f1101b'?

[2022-09-01 09:33] jdhayhurst commented on #831
Thanks @DSuveges - I think the idea of using a database dump or one of the Ensembl db mirrors is a much better idea than the REST API and could indeed be the reason why we're seeing these inconsistencies. Tagging @sprintell as he's doing the investigation into the mapping pipeline.

[2022-09-01 11:31] jdhayhurst commented on #800
Plan:

1. get gcsts - check the first one
2. create dirs
3. cp the harmonised data somewhere safe
4. copy raw files
5. move dirs to bins on staging
6. run sumstats sync
7. sync harmonised data to ftp
8. md5sums for harmonised

One file had not been harmonised (XXL.VLDL.TG) - harmonising this one and then will proceed with plan

[2022-09-05 09:03] Santhi1901 opened #838 "testing importing large publication with >30000 studies failed"
Testing PMID: 34375979

Was successfully submitted in the testing environment (without sumstat): https://wwwdev.ebi.ac.uk/gwas/depo-curation/submissions/62e27657fd97600001675cec

but after it is imported in the testing environment, the page is not loading gwas-snoopy.ebi.ac.uk:9780/gwas/curation/submissions/62e27657fd97600001675cec.

No. of studies 30445
No.of associations: 50450

This is a user-s

[2022-09-06 07:48] earlEBI commented on #800
Imported 123 studies to Curation App and published to Catalog.

[2022-09-06 09:58] ala-ebi opened #840 "fix GOCI Production Tools / Pussycat bamboo plan"

[2022-09-06 11:17] ljwh2 commented on #828
I also noticed the documentation pages were slow to load in Chrome, but this seems to be now resolved

[2022-09-06 13:39] Santhi1901 opened #841 "Replace the existing GCST with the original submitted one for submission id: 61f1f38b7058c20001333a77 (GCP000284)"
The GCST for this PMID: 35414057 is changed from GCST90093313 to GCST90102469 as the study change was modified. Need to change back to GCST90093313 (user submitted).

The sumstat related to this paper is showing not found; not sure if it is related to GCST id change.

ticket created  with respect to gwas-info mail from Jaime Hall dated 06/09/2022

[2022-09-06 14:00] sajo-ebi commented on #739
@earlEBI data has been updated , kindly confirm

[2022-09-06 14:08] earlEBI commented on #739
Now published. Looks fine.

[2022-09-06 14:40] sajo-ebi commented on #740
@earlEBI the PrePub link has been updated , kindly confirm

[2022-09-06 15:04] sajo-ebi commented on #751
@ljwh2 as per my investigation the submission associated with 'GCST90017149' is being picked up by Depo Sync & this study get reinserted , I can delete this submission from DB , kindly confirm if you are good with that

[2022-09-06 15:07] ljwh2 commented on #751
Confirmed

[2022-09-06 15:19] sajo-ebi commented on #751
The Unpublished studies have been deleted from DB & the submission has been deleted from Mongo DB

[2022-09-06 15:38] jdhayhurst commented on #800
The sync will run over night. Once released, I'll release the harmonised data

[2022-09-06 15:43] sajo-ebi commented on #841
@jdhayhurst will need to move sumstats files to correct GCST I guess

[2022-09-06 15:49] sajo-ebi commented on #841
@Santhi1901 Updated both in Curation & Mongo DB will reflect after DR

[2022-09-06 15:55] jdhayhurst commented on #841
GCST90093313 exists on staging, so if it exists in curation db it will automatically sync during the nightly sync process

[2022-09-07 07:38] ljwh2 commented on #745
@Santhi1901 have the edits been made in the documentation branch yet?

[2022-09-07 07:41] ljwh2 commented on #781
See also goci#828

[2022-09-07 07:43] ljwh2 commented on #826
Is this issue still current @earlEBI ?

[2022-09-07 07:58] earlEBI commented on #826
@ljwh2 yes, still needs resetting, please

[2022-09-07 08:06] Santhi1901 commented on #745
I will make the changes today

[2022-09-07 08:13] jdhayhurst commented on #841
Can confirm that this was released by the nightly sync: https://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/GCST90093001-GCST90094000/GCST90093313/

[2022-09-07 08:29] Santhi1901 commented on #745
The edit is completed

[2022-09-07 09:14] #739 closed

[2022-09-07 09:17] sprintell commented on #740
@sajo-ebi  will update the daatbase and @earlEBI will confirm

[2022-09-07 09:19] sprintell commented on #751
waiting for DR

[2022-09-07 09:36] sprintell commented on #841
close after Data release

[2022-09-07 09:39] sprintell commented on #827
waiting for DR to be sure its showin gin the public facing

[2022-09-07 09:40] #835 closed

[2022-09-07 10:27] #803 closed

[2022-09-07 10:41] #832 closed

[2022-09-07 10:41] #804 closed

[2022-09-07 10:42] #670 closed

[2022-09-07 10:46] sprintell commented on #829
wait for Data release before closing

[2022-09-07 10:52] #806 closed

[2022-09-07 12:50] Santhi1901 opened #842 "Script to output doi for pre-published submission"
Need doi for pre-published submission if submitted by the user to check if the submission has been linked to a pmid using the Article Status Monitor of European PMC.

[2022-09-07 14:15] jdhayhurst commented on #800
sync'd harmonised files

[2022-09-08 07:40] ljwh2 opened #843 "Sumstats to be forced through validation"
Sumstats associated with GCP000419 need to be forced through validation (non-standard submission - CNVs).

[2022-09-08 11:52] ljwh2 commented on #843
The coordinates are for genome build - GRCh37/hg19, please add to submission, thanks @jdhayhurst

[2022-09-08 12:05] sprintell opened #844 "Post Data Center Migration Resource Clean up: Ensure all unused resources in Hinxton Data Center are shut down and retired"
**Solr Servers**
- [x] Shut down Solr running on garfield VM port 8983
- [x] Shut down Solr running on ves-hx-7f VM port 8983
- [x] Shut down Solr running on snoopy VM port 8984
- [x] Shut down Solr running on snoopy VM port 8985
- [x] Shut down Solr running on snoopy VM port 8986
- [x] Shut down Solr running on snoopy VM port 8987

**Old Dev1 Server:**
- [x] Shut down Tomcat running on snoopy VM

[2022-09-08 12:22] ljwh2 commented on #785
A script is needed for this that can be run ad hoc as required.

[2022-09-09 08:30] earlEBI opened #845 "Landing page errors for GCP000366"
We’ve had an email from this [user](https://helpdesk.ebi.ac.uk/Ticket/Display.html?id=592837) (submission https://www.ebi.ac.uk/gwas/deposition/submission/62a87ed1bc08100001ccd5e0) who noticed their GCSTs appear in the Catalog but once you click on them, all that appears is this message:
‘The study accession GCST90104542 cannot be found in the GWAS Catalog database’. eg. https://www.ebi.ac.uk/gwas

[2022-09-13 15:25] sajo-ebi commented on #838
@Santhi1901 @ljwh2 based on my investigation the Submission page is not loading due to huge Payload of the AZ submission , the API being called by Curation for loading submission is not paginated so it hangs trying to process huge payload, We need to create a Dev story in order to introduce Pagination in API then only the AZ submission can be curated .

[2022-09-13 20:28] sajo-ebi opened #846 "DR Issue relate to Risk Allele & Snp for rs36083960"
We need to analyse the Submission Id '6317b82037db2600015a836c' which had the studies  mapped with risk allelle & Snp 'rs36083960'. This was causing the DR Purge job to fail , currently the study is unpublished when the study is ready for DR we need to again map the study & import

[2022-09-14 09:20] ala-ebi commented on #647
confirmed after DR

[2022-09-14 09:42] #647 closed

[2022-09-15 10:30] sprintell opened #847 "Scaling Issue: Redesign the View Submission Page in the Old curation software to accept pagination."
This implementation will be done on all the 5 curation app pages below:

Detailed submission page: Should be tested with 50k association dataset url
http://gwas-snoopy.ebi.ac.uk:9780/gwas/curation/submissions/62e27657fd97600001675cec

New Submission Page:
http://gwas-snoopy.ebi.ac.uk:9780/gwas/curation/submissions

New SubmissionInProgress Page:
http://gwas-snoopy.ebi.ac.uk:9780/gwas/curation/in_p

[2022-09-15 12:23] ljwh2 opened #848 "Create a new page in the documentation to highlight training"

[2022-09-15 12:24] ljwh2 commented on #848
Online training resources are currently listed under "Related Resources". Helen and EBI training team would like these to be highlighted better. I suggest we have a separate page for training (could be merged with FAQs as a general help page?)

[2022-09-20 08:45] earlEBI opened #850 "Edit typo in trait for prepub submission - GCP000430"
Similar to this ticket here: https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/783

As per user request, please update reported trait for GCST90137412 from Sqaumous cell carcinoma' to Squamous cell carcinoma'

[2022-09-21 09:18] ljwh2 commented on #751
GCST90017149 Not visible in DR 14/9/22

[2022-09-21 09:20] ljwh2 commented on #827
Sumstats now available and indexed in UI

[2022-09-21 09:20] ljwh2 commented on #800
@earlEBI is this now resolved?

[2022-09-21 09:22] earlEBI commented on #800
@ljwh2 yes.

[2022-09-21 09:30] #751 closed

[2022-09-21 09:31] #827 closed

[2022-09-21 09:38] eks-ebi commented on #768
@eks-ebi test, including with large number of associations

[2022-09-21 09:48] ljwh2 commented on #841
@Santhi1901 please confirm this ticket can be closed

[2022-09-21 09:49] ljwh2 commented on #829
@earlEBI can this be closed?

[2022-09-21 09:49] #843 closed

[2022-09-21 09:50] #800 closed

[2022-09-21 09:50] earlEBI commented on #829
@jdhayhurst yes

[2022-09-21 09:51] ljwh2 commented on #740
@earlEBI please confirm if this is resolved

[2022-09-21 09:53] earlEBI commented on #740
@ljwh2  can confirm

[2022-09-21 09:55] Santhi1901 commented on #841
yes this can be closed

[2022-09-21 10:04] ljwh2 commented on #842
@ljwh2 expand details

[2022-09-21 10:11] #740 closed

[2022-09-21 10:11] #829 closed

[2022-09-21 10:23] ljwh2 commented on #842
@sajo-ebi  this requires a script that curators can run periodically to generate a list of GCPs for all prepublication submissions (including embargoed submissions) and preprint DOI.  See screenshots for where DOI is displayed in the UIs![Screenshot 2022-09-21 at 11.17.41.png](https://images.zenhubusercontent.com/5e57ecb5d0668b3a20e94b9e/8ed90d51-84e3-42d4-9de4-9e76ab2eb54a)

[2022-09-21 10:26] ljwh2 commented on #842
@Santhi1901 is there any other information that would be useful to include in the output, like author, title etc?

[2022-09-21 10:28] Santhi1901 commented on #842
Yes it will be good if the title, as well as authors name can be included

[2022-09-21 10:34] ljwh2 commented on #842
@sajo-ebi columns in output should be GCP, first author, title, preprint DOI, embargo y/n

Not that note all submissions will have DOI, please list all submissions whether or not they have DOI, DOI can be blank or NA for those submissions.

[2022-09-21 14:37] sajo-ebi commented on #826
@earlEBI the submission is available to be imported, kindly confirm if this needs to go before DR?

[2022-09-21 14:41] earlEBI commented on #826
@sajo-ebi Thanks. No, doesn't need to go before DR.

[2022-09-22 08:47] ala-ebi commented on #768
add "enabled" property in application.properties to enable/disable the app.

[2022-09-22 09:27] eks-ebi opened #851 "Populate the SUMMARY STATS LOCATION column in the published studies download (all studies v1.0.3)"
The all studies v1.0.3 table downloaded from the UI (https://www.ebi.ac.uk/gwas/api/search/downloads/studies_new) does not currently include any data for the summary stats location, i.e. the column 'SUMMARY STATS LOCATION', is always null. Studies with summary stats are there, just their locations are missing. This information should be made available here for all studies that have summary statist

[2022-09-22 11:29] CholoTook commented on #637
Any news on this? The page mentioned is still broked.

[2022-09-22 13:51] earlEBI commented on #848
Updated the 'Related resources' header to 'Training Resources' (on UI page https://www.ebi.ac.uk/gwas/docs)
Edited the Documentation branch here:
https://github.com/EBISPOT/gwas-ui/blob/documentation/goci-interfaces/goci-ui/src/main/resources/templates/docs.html

Moving to 'done'.

Please push this change so I can test how it looks in Dev environment.

[2022-09-22 13:59] ljwh2 commented on #842
Closing since we found a workaround in old curation app - search for wildcard in "Add Study" page gives all submissions including DOI

[2022-09-22 14:00] #842 closed

[2022-09-23 09:45] eks-ebi commented on #851
Please alert Daniel Suveges at Open Targets when completed

[2022-09-26 11:59] ljwh2 opened #852 "Duplicate files being create on ftp during data relese"
User Alistair Rust reported that two directories of files are available for the DR 14th Sept. ![Screenshot 2022-09-26 at 10.54.34.png](https://images.zenhubusercontent.com/5e57ecb5d0668b3a20e94b9e/4adce0cd-a371-4a98-8b57-77b8705410aa)
The same thing seems to have occurred in August, and possibly other times.
![Screenshot 2022-09-26 at 10.56.25.png](https://images.zenhubusercontent.com/5e57ecb5d066

[2022-09-26 12:00] ljwh2 commented on #852
Comment from @sprintell:

We have recently had issues with sync project. This looks like something caused by the sync project during DR deployment.
The sync tool failed once in d last DR, and was re-triggered by Sajo after TSC fixed it, could it have been that for each of those instances, the ftp release was successful resulting in 2 copies.
I also noticed that it seems similar things have happene

[2022-09-27 14:28] Santhi1901 opened #853 "Special characters in associations"
There are some special characters present in the SNPS column and STRONGEST SNP-RISK ALLELE columns which needs to be removed

![image.png](https://images.zenhubusercontent.com/60658482a4f4a6458dcdf52b/cac92c7e-e536-4a30-aa4e-b1c2ec53a305)

[2022-09-27 15:45] ljwh2 commented on #853
In some cases this prevents display of the variant in the UI e.g. https://www.ebi.ac.uk/gwas/publications/31251335
In others it looks normal in the UI but can be seen in the associations download e.g. https://www.ebi.ac.uk/gwas/publications/34011927

[2022-09-28 09:30] sprintell commented on #845
@earlEBI  could you please confirm this has been fixed ? Thanks

[2022-09-28 09:32] earlEBI commented on #845
@sprintell Seems fine now, yes.

[2022-09-29 16:04] sprintell commented on #838
Dependent on the implementation of the new features here:

https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/gwasdepo-ingest-service/37

https://app.zenhub.com/workspaces/gwas-59df823c4a6feb3786810391/issues/ebispot/goci/847

[2022-09-30 13:57] eks-ebi opened #855 "External submitters should be able to view Sumstats, GxE and Pooled columns in the submission template"

[2022-09-30 15:29] ala-ebi opened #856 "GCST90102284 should be GCST90054778 before DR"
After DR was pushed to staging, Lizzy reported that GCST for PMID 35378236 has been changed so the sumstats link no longer works.

GCST90102284 should be GCST90054778

[2022-09-30 15:29] ala-ebi commented on #856
fixed GCST in publication page, search by GCST, and downloads file. updated SOLR directly on garfield and reran staging deployment to pass solr data to staging

[2022-10-03 13:59] ljwh2 commented on #855
@eks-ebi should there be a "not" in the title of this issue?

[2022-10-03 14:05] ljwh2 opened #857 "typo in header of ancestry download files"
In the v1.0 download files (for published and unpublished versions), the number of individuals column is headed with a typo "NUMBER OF INDIVDUALS"

This should be fixed in the next version.

[2022-10-03 14:19] eks-ebi commented on #855
yes, my mistake! I've corrected it now

[2022-10-04 08:28] earlEBI opened #858 "Push GCP000428 through sumstats validation (0 p-values)"
Please push through submission '6320497d15ccca00017b67ea' which failed validation due to zero p-values.

[2022-10-04 13:00] ljwh2 opened #859 "Search UI page loading issues - detail pages"
Detail pages in the UI have problems loading (especially in Chrome) due to data volume. This due to inefficient pagination.

An acceptable solution for the details pages would be to identify a cutoff that can be loaded successfully. Beyond this, the table would appear with a message something like "Warning: only the first 2000 rows could be displayed" and an option to download the data in a text f

[2022-10-04 15:48] ljwh2 commented on #859
Here is an example of a page that does not load: https://www.ebi.ac.uk/gwas/publications/32888494

Note there may be a separate issue for loading trait pages, associated with the number of child terms, e.g. https://www.ebi.ac.uk/gwas/efotraits/EFO_0000311. This may be out of scope to fix for now.

[2022-10-04 16:29] ljwh2 commented on #828
This is due to inefficient pagination. We can change the pagination to work from the back end, but this will stop the search functionality working correctly.

Important functionality for the published studies table search (in order of priority) is:
1. Sort by Publication date - this allows the user to find the most recently added sumstats. Alternatively the table could be loaded pre-sorted by publ

[2022-10-05 09:51] ljwh2 commented on #853
Fixed in db, @Santhi1901 to check after DR

[2022-10-05 10:42] #856 closed

[2022-10-05 10:43] ljwh2 commented on #848
@earlEBI did you manage to check this in Snoopy?

[2022-10-05 10:44] earlEBI commented on #848
@ljwh2 no, I think something needs to be pushed before it's visible there.

[2022-10-05 10:47] ljwh2 commented on #848
@ala-ebi please can you help Lizzy to test and release this

[2022-10-05 10:55] #858 closed

[2022-10-06 14:00] sajo-ebi commented on #850
Data updated in Curation DB will reflect after DR in Catalog

[2022-10-10 07:14] earlEBI commented on #845
The user has contacted us again because the message is appearing for all studies again.
I added PMID last week and published. The GCSTs look good on dev, but not in prod: https://www.ebi.ac.uk/gwas/studies/GCST90104542
![Screenshot 2022-10-10 at 08.06.31.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/52543ecd-eb2f-4142-ae44-9451419bcbbe)

Is the issue caused by every data relea

[2022-10-10 09:00] earlEBI opened #860 "GCP000359 stuck in validation"
Submission id '629e308ac0bf57000168b21a' stuck in validation since June.

This data now has a PMID (36167494) which should be attached once the sumstats are validated.

Please look into why validation is stuck, or restart the process.

[2022-10-10 09:04] earlEBI opened #861 "PMID 34572589 stuck importing to the Curation App"
Submission has has had status 'import in progress' since Friday, it's now Monday.
There is only one study and 7 associations. Shouldn't take this long.
Please reset so I can try importing again.

[2022-10-10 09:12] earlEBI opened #862 "PMID 34959947 - unable to import, only action is 'review'."
PMID 34959947 was curated through submission app, then depocuration app, imported to curation app and published to Catalog.

I then needed to update the background EFO so unpublished and edited in depocuration app.

After clicking 'allow import', the submission should appear under 'view submissions' in curation app with option to import, but the only option I have is to 'review'.

Note: publicatio

[2022-10-10 09:44] earlEBI opened #863 "Improve Catalog UI search box functionality"
User request via gwas-info to improve findability of papers via the search box. Part of the e-mail pasted below:

"For example, sometimes I know that a study has sumstats, and I know the author and title… but searching on e.g. “authorname titleword” fails to find anything.
 ...
Example – I want to find GCST90027158, from the paper by Bellenguez et al. 2022, “New insights into the genetic etiology

[2022-10-10 14:04] eks-ebi opened #864 "Search results summary numbers do not match the results returned"
When searching in the Search UI, the returned results for each category (Trait, Publication, Gene etc.) are summarised in the filtering buttons on the left of the screen. The numbers displayed here do not match the actual numbers of returned results.

For example, searching for "coronary artery disease": https://www.ebi.ac.uk/gwas/search?query=coronary%20artery%20disease
* actual search results: 2

[2022-10-11 10:35] earlEBI opened #865 "Update reported trait for PMID with two submission IDs - PMID 35007327"
Paper was first curated by a curator through depocuration app (submission id '626ab5660b24d90001d1d7e0') and published in Curation App.

External user then submitted sumstats through submission app (submission id '634018fb15ccca0001f49c50').

By user request, I need to add a new reported trait and attach it to the study.

Which submission should I edit to do this?

[2022-10-11 11:09] Santhi1901 commented on #853
only the special characters in the 'SNPs' column are fixed; there are still special characters in the 'STRONGEST SNP-RISK ALLELE' column in the association download file. Have added some more to the list which has special characters in the 'STRONGEST SNP-RISK ALLELE' column

[2022-10-11 16:54] ljwh2 opened #866 "Add ancestry to published sumstats table"
The published sumstats table (first table on this page: https://www.ebi.ac.uk/gwas/downloads/summary-statistics) does not include a column for ancestry, but the unpublished one does. Ancestry should be added to the first table for consistency (ideally searchable depending on whether the page loading can handle it).

This was requested by Open targets

[2022-10-11 16:58] ljwh2 commented on #864
As a first step, we need to understand where the numbers in the summary are coming from. The actual numbers here are not particularly useful to users (more like an indication that there are results for that data type) and could be misleading even if correct. For example, a user may do a quick search for a trait and conclude that there are a certain number of publications in the catalog with that t

[2022-10-12 10:31] earlEBI commented on #850
@ljwh2 confirmed

[2022-10-12 11:05] ljwh2 commented on #865
Sajo thinks it should be ok to edit the metadata submission, before the sumstats-only submission is imported. Please let the devs know if you encounter any issues.

[2022-10-12 11:08] earlEBI commented on #865
@ljwh2 The sumstats-only submission was already imported, so that the sumstats could be released.

[2022-10-12 12:23] ljwh2 commented on #865
@sajo-ebi what do you think? Should Lizzy carry on and edit the metadata submission and keep us updated on what happens?

[2022-10-12 12:47] sajo-ebi commented on #865
@ljwh2 if sumstats submission has already been imported , I think we will have to add sumstats data again when we edit the submission in Depo Curation , since data will be overwritten when metadata only submission is imported with Sumstats data as NR

[2022-10-12 12:51] earlEBI commented on #862
looks good. imported and re-published to Catalog. Done.

[2022-10-12 13:21] earlEBI commented on #865
@sajo-ebi Is it worth me trying to edit the metadata-only submission and importing? could possibly reset sumstats-only submission and re-import afterwards?
Or... would it just be easier for a developer to update the reported trait for the existing study via the backend? I've just added the new reported trait in the depocuration app ('Peripheral blood CD34+ cell levels') so it will be synced after

[2022-10-12 13:22] Santhi1901 opened #867 "632c967737db2600018dd446 stuck in Validation"
Submission id: 632c967737db2600018dd446
GCP Id: GCP000432
PMID: 35870639

It is showing validating since 29th Sep 2022.

[2022-10-13 08:26] earlEBI commented on #861
submission id '6320497d15ccca00017b67ea' also may be stuck in import_in_progress - (began more than 12 hours ago). May be related?

[2022-10-13 10:43] earlEBI commented on #768
Note: cannot yet test using a new submission due to other dev work going on.

Testing using existing submissions in depocuration app, uploading new templates:
Works well. Tested up to 20k SNPs - chr:bp / gene name / exmID / psy_ prefix etc.

Also tested to see if duplicate SNPs for the same study would be picked up and they are! although they also appear in the report as 'Not found in Ensembl', at

[2022-10-14 07:04] earlEBI commented on #865
@sajo-ebi would you be able to update the reported trait for GCST90102460 to 'Peripheral blood CD34+ cell levels' before the next data release, Sajo? or should I try the import? thank you

[2022-10-14 11:17] ala-ebi commented on #853
@Santhi1901 fixed for the risk allele, should be there next DR

[2022-10-14 13:31] earlEBI opened #868 "Can't add EFO traits to depocuration if the text is already contained in another term"
Attempted to add the following EFO on depocuration EFO trait page:
URI: http://purl.obolibrary.org/obo/MONDO_0019956
name: encephalitis

Receive the following error:

![Screenshot 2022-10-14 at 14.25.23.png](https://images.zenhubusercontent.com/5e95cce7cc796e84ca614069/98f0b89e-9e48-4add-9615-0fb190abe41a)

Also tried via bulk upload EFO feature, received the following download report:
![Screensho

[2022-10-14 13:33] earlEBI commented on #868
I've deleted the EFO trait for now and will wait to re-add when I can spell it properly.

[2022-10-14 13:48] earlEBI commented on #868
I don't need this EFO anymore because I've requested a new specific one, but may be needed in future

[2022-10-17 15:22] Santhi1901 opened #869 "Published submission (PMID:34852643) showing error while uploading summary statistics"
The user is getting the error: "**The summary statistics file cannot be found**". but the files are present in the Globus.
https://www.ebi.ac.uk/gwas/deposition/submission/63359003c6aae2000109ab45
PMID: 34852643

[2022-10-18 10:19] earlEBI commented on #865
looks good, thanks, done.

[2022-10-18 10:43] earlEBI commented on #861
At around 10am on 18.10.22 I tried to import submission id '61683185c325ee00012031bb' again but it looks like it's stuck again.

[2022-10-19 08:37] ljwh2 commented on #868
@earlEBI could you verify this in sandbox with a few other examples?

[2022-10-19 08:52] Santhi1901 opened #871 "Submission not able to import:633c04e4c6aae200010a2ccf (PMID 36150907)"
This is a published submission, unpublished to add extra studies as requested by the user. But I am not able to import it.  A user has already opened the submission for sumstats (submission id:6349908437db260001901267), not sure if it is because of that.  PMID:36150907

[2022-10-19 09:00] #850 closed

[2022-10-19 09:24] #862 closed

[2022-10-19 10:12] #860 closed

[2022-10-19 10:13] #811 closed

[2022-10-19 10:13] #732 closed

[2022-10-19 10:14] #847 closed

[2022-10-19 10:16] ljwh2 commented on #845
@earlEBI this seems to be ok currently, please confirm after next DR that it is still visible

[2022-10-19 10:22] #865 closed

[2022-10-20 08:50] ljwh2 commented on #871
@sajo-ebi A user created a new (sumstats-only?) submission for this PMID, but Santhi needed to edit the PMID to add some additional studies first. Now she is unable to import the edited submission. We think the solution might be to delete the users submission. Could you please confirm so we can follow up with the user?